venv/
__pycache__/
*.pyc
CSV/*.csv
videoteca/__pycache__/__init__.cpython-38.pyc
videoteca/__pycache__/settings.cpython-38.pyc
videoteca/__pycache__/urls.cpython-38.pyc
videoteca/__pycache__/wsgi.cpython-38.pyc
inventario/migrations/__pycache__/__init__.cpython-38.pyc
inventario/migrations/
videoteca/settings/
myvenv/