{% extends 'templateBase.html' %}

{% block titulo %} Calificación {% endblock %}

{% block Contenido %}

<div class="card col-12 mt-5">
  <div class="card-header text-center" style="background-color:#F1F7F8;">
    <strong>Consulta formulario</strong>
    <div class="d-flex justify-content-between">
      <div>
        <a name="" id="" class="btn btn-form" href="{% url 'formulario' %}" style="background:#9D2449" role="button">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <span style="color: white;">Llenar formulario</span>
            <i class='fab fa-wpforms' style="color:white;"></i>
          </div>
        </a>
      </div>
      <div>
        <a name="" id="" class="btn btn-regresar" style="background:#b38e5d" href="{% url 'prestamos_list' %}" role="button">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <span style="color: white;">Regresar a Prestamos</span>
            <i class="fas fa-backspace" style="color:white;"></i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive"> <!-- Agregar esta clase -->
      <table class="table table-hover" id="datatable">
        <!-- ... Código de la tabla ... -->
        <thead>
          <tr>
            <th>Id</th>
            <th>codigo_barras</th>
            <th>Fecha Calificación</th>
            <th>Año Producción</th>
            <th>Programa</th>
            <th>subtitulo_programa</th>
            <th>duracion</th>
            <th>Calificador</th>
            <th>Fecha modificacion</th>
            <th>Estatus</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for data in formulario %}
          <tr>
            <td>{{ data.id }}</td>+
            <td>{{ data.codigo_barras }}</td>
            <td>{{ data.fecha_calificacion }}</td>
            <td>{{ data.axo_produccion }}</td>
            <td>{{ data.programa }}</td>
            <td>
              {%if data.subtitulo_programa == ""%}
                No tiene datos
              {%else%}
                {{ data.subtitulo_programa }}
              {% endif %}
            </td>
            <td>{{ data.duracion }}</td>
            <td>{{ data.calificador_modificacion }}</td>
            <td>{{ data.fecha_modificacion }}</td>
            <td>
              {% if data.estatusCalif == 'P' %}
              Pendiente
              {% elif data.estatusCalif == 'R' %}
              Revisado
              {% endif %}
            </td>
            <td class="d-flex justify-content-center">
              <!-- Editar -->
              <a href="" class="btn btn-editar btn-sm active text-white" style="background-color:#9D2449;" title="Editar">
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <i class="fas fa-edit"></i>
                  <span></span>
                </div>
              </a>
              <!-- Ver -->
              <a href="#" class="btn btn-ver btn-sm active text-white" id="ver" style="background-color:#b38e5d;" data-bs-toggle="modal" data-bs-target="#modalObservacion{{ data.id }}" title="Observaciones"> 
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <i class='far fa-eye'></i>
                  <span></span>
                </div>
              </a>
              <!-- Añadir -->
              <a href="#" class="btn btn-anadir btn-sm active text-white" id="anadir" style="background-color:#10A9C8;" data-bs-toggle="modal" data-bs-target="#{{ data.id }}" title="Añadir"> 
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <i class="fa-solid fa-circle-plus" style="color:white;"></i>
                  <span></span>
                </div>
              </a>
            </td>
          </tr>
          {% empty %}
          {% endfor %}  
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for data in formulario %}
<!-- Modal de Observaciones -->
<div class="modal fade" id="modalObservacion{{ data.id }}" tabindex="-1" aria-labelledby="modalObservacionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#18463b;">
        <h4 class="modal-title fs-5" id="modalObservacionLabel" style="color: white;">*** Observaciones de calificación ***</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="max-height: 300px; overflow-y: auto">
          {{ data.observaciones }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm active text-white" style="background-color:#9D2449;" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
  $(document).ready(function() {
    $('#datatable').DataTable({
      // Configuración del DataTable
      ...len
    });
  });
</script>

{% endblock %}