{% extends 'templateBase.html' %}

{% block titulo %} Calificación {% endblock %}

{% block Contenido %}

<div class="card mt-3" >
  <div class="card-header text-center" style="background:#F1F7F8">
    <h4 class="card-title ">*** Editar Formulario ***</h4>
      <div class="d-flex justify-content-between">
        <div>
          <a name="" id="" class="btn btn-form" href="{% url 'consultaFormulario' %}" style="background:#B93158" role="button">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <span style="color: white;"> Regresar a Consulta </span>
              <i class='fas fa-search' style="color:white;"></i>
            </div>
          </a>
        </div>
        <div>
          <a name="" id="" class="btn btn-regresar" style="background:#b38e5d" href="{% url 'prestamos_list' %}" role="button">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <span style="color: white;">Regresar a Prestamos</span>
              <i class="fas fa-backspace" style="color:white;"></i>
            </div>
          </a>
        </div>
      </div>
  </div>
  <div class="card-body">
      {% comment %} <h4 class="card-title text-center">*** Formulario Calificación ***</h4> {% endcomment %}
      <div class="card-body">
        {% comment %} <h1>Formulario</h1> {% endcomment %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="background:#13322B" >
                    <div class="d-flex justify-content-center">
                      
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDatosGenerales" aria-expanded="false" aria-controls="collapseDatosGenerales">
                          <div style="display: flex; flex-direction: column; align-items: center;">
                            <span> Datos Generales </span>
                            <i class='fas fa-database'></i>
                          </div>
                        </button>
                                        
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescripcion" aria-expanded="false" aria-controls="collapseDescripcion">
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <span> Descripción </span>
                                <i class="fa fa-audio-description"></i>
                            </div>
                        </button>
                 
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMapa" aria-expanded="false" aria-controls="collapseMapa">
                          <div style="display: flex; flex-direction: column; align-items: center;">
                              <span> Mapa </span>
                              <i class='fas fa-map'></i>
                          </div>
                        </button>
                                        
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTecnicas" aria-expanded="false" aria-controls="collapseTecnicas">
                          <div style="display: flex; flex-direction: column; align-items: center;">
                            <span> Técnicas </span>
                            <i class="fa-solid fa-language"></i>
                          </div>
                        </button>
                                      
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRealizacion" aria-expanded="false" aria-controls="collapseRealizacion">
                          <div style="display: flex; flex-direction: column; align-items: center;">
                              <span> Realización </span>
                              <i class='fas fa-clipboard-list'></i>
                          </div>
                        </button>
                  </div>
                </div>
    
                <div class="collapse" id="collapseDatosGenerales">
                  <div class="card card-body ">
                    <h2> Datos Generales </h2>
                    <form method="post" id="formulario_principal">
                        {% csrf_token %}
                        <div class="row mt-4">
                          {% for field in formulario_principal %}
                          <div class="col-md-4 mb-2">
                            <div class="mb-1">
                              {% if field.name == 'video_anoproduccion' %}
                                <label for="{{ field.id_for_label }}" class="form-label">Año de producción</label>
                                <input type="number"  min="1" max="9" id='ahoProduction' name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control smaller-input" placeholder="Año de producción">
                                
                              {% elif field.name == 'codigo_barras' %}
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                <input type="text" id="codigo_barras" disabled name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control smaller-input" placeholder="{{ field.label }}">

                              {% elif field.name == 'registro_id' %}
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                <input type="text" id="registro_id" disabled name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control smaller-input" placeholder="{{ field.label }}">
                                
                              {% else %}
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {% if field.name == 'fecha_calificacion' %}
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                <input type="text" name="{{ field.name }}" value="{{ field.value|date:'Y-m-d' }}" class="form-control smaller-input" placeholder="{{ field.label }}">
                                
                                {% elif field.name == 'observaciones' %}
                                  <textarea name="{{ field.name }}" class="form-control smaller-input" placeholder="{{ field.label }}" rows="3">{{ field.value|default_if_none:'' }}</textarea>
                                
                                
                                  {% else %}
                                  {% if field.field.widget.input_type == 'select' %}
                                    <select name="{{ field.name }}" class="form-control smaller-input">
                                      {% for choice in field.field.choices %}
                                        {% if field.value|stringformat:'s' == choice.0|stringformat:'s' %}
                                          <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                                          
                      
                                        {% else %}
                                          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                          
                                          {% endif %}
                                        {% endfor %}
                                    </select>
                                  {% else %}
                                    {% if field.name != 'axo_produccion' and field.field.widget.input_type != 'hidden' %}
                                      <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control smaller-input" placeholder="{{ field.label }}">
                                      
                                    {% endif %}
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            </div>
                          </div>
                        {% endfor %}
                        </div>
                    </form>
                  </div>
                </div>
     
                <div class="collapse" id="collapseDescripcion">
                  <div class="card card-body">
                      <h2>Descripción</h2>
                      <form method="post" id="formulario_descripcion">
                        <div class="row mt-4">
                          {% for field in formulario_descripcion %}
                          <div class="col-md-4 mb-2">
                              <div class="mb-1">
                                  <!-- Etiqueta del campo de formulario -->
                                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                  
                                  <!-- Campo de formulario -->
                                  {% if field.field.widget.input_type == 'select' %}
                                      <select name="{{ field.name }}" class="form-control">
                                          {% for choice in field.field.choices %}
                                              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                          {% endfor %}
                                      </select>
                                  {% else %}
                                      <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control" placeholder="{{ field.label }}">
                                  {% endif %}

                              </div>
                          </div>
                          {% endfor %}
                      </div>
                      </form>
                  </div>
                </div>

                <div class="collapse" id="collapseMapa">
                  <div class="card card-body">
                      <h2>Mapa</h2>
                      <form method="post" id="formulario_mapa">
                        <div class="row mt-4">
                          {% for field in formulario_mapa %}
                          <div class="col-md-4 mb-2">
                              <div class="mb-1">
                                  <!-- Etiqueta del campo de formulario -->
                                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                  
                                  <!-- Campo de formulario -->
                                  {% if field.field.widget.input_type == 'select' %}
                                      <select name="{{ field.name }}" class="form-control">
                                          {% for choice in field.field.choices %}
                                              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                          {% endfor %}
                                      </select>
                                  {% else %}
                                      <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control" placeholder="{{ field.label }}">
                                  {% endif %}
     
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                      </form>
                  </div>
                </div>

                <div class="collapse" id="collapseTecnicas">
                  <div class="card card-body">
                      <h2>Técnicas</h2>
                      <form method="post" id="formulario_tecnicas">
                        <div class="row mt-4">
                          {% for field in formulario_tecnicas %}
                          <div class="col-md-4 mb-2">
                              <div class="mb-1">
                                  <!-- Etiqueta del campo de formulario -->
                                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                  
                                  <!-- Campo de formulario -->
                                  {% if field.field.widget.input_type == 'select' %}
                                      <select name="{{ field.name }}" class="form-control">
                                          {% for choice in field.field.choices %}
                                              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                          {% endfor %}
                                      </select>
                                  {% else %}
                                      <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control" placeholder="{{ field.label }}">
                                  {% endif %}

                              </div>
                          </div>
                          {% endfor %}
                      </div>
                      </form>
                  </div>
                </div>

                <div class="collapse" id="collapseRealizacion">
                  <div class="card card-body">
                      <h2>Realización</h2>
                      <form method="post" id="formulario_realizacion">
                        <div class="row mt-4">
                          {% for field in formulario_realizacion %}
                          <div class="col-md-4 mb-2">
                              <div class="mb-1">
                                  <!-- Etiqueta del campo de formulario -->
                                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                  
                                  <!-- Campo de formulario -->
                                  {% if field.field.widget.input_type == 'select' %}
                                      <select name="{{ field.name }}" class="form-control">
                                          {% for choice in field.field.choices %}
                                              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                          {% endfor %}
                                      </select>
                                  {% else %}
                                      <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control" placeholder="{{ field.label }}">
                                  {% endif %}

                              </div>
                          </div>
                          {% endfor %}
                      </div>
                      <div class="d-flex justify-content-center">
                        <button name="" id="btnEdit" class="btn btn-revicion btn-sm active mt-3" style="background-color:#B93158" href="#" role="button" data-id="{{ id }}">  
                          <div style="display: flex; flex-direction: column; align-items: center;">
                            <span style="color: white;">Guardar edición</span>
                            <i class="fa-solid fa-file-pen" style="color: white;"></i>
                          </div> 
                        </button> 
                 
                        <button name="" id="btnAceptado" class="btn btn-outline btn-sm active mt-3" style="background-color:#18463b" href="#" role="button">  
                          <div style="display: flex; flex-direction: column; align-items: center;">
                            <span style="color: white;">Revisado y Aceptado</span>
                            <i class="fas fa-save mt-1" style="color: white;"></i>
                          </div> 
                        </button> 
                      </div>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script>


  $(document).ready(function() {
    $('#editTablePrograma').DataTable({
      ...len
    });

    $("#btnEdit").click(function(event) {
      event.preventDefault();
    
      Swal.fire({
        title: '¿Estás seguro de guardar los cambios?',
        text: 'Esta acción actualizará la base de datos',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sí, guardar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          const id = $('#registro_id').val();  // Usar el ID correcto
          const codigo_barras = $('#codigo_barras').val();
    
          console.log({id, codigo_barras})
    
          const form_data = new FormData();
          form_data.append('registro_id', id);  // Cambiar a 'registro_id'
          form_data.append('codigo_barras', codigo_barras);
    
          const formularios = {
            formulario_principal: 'formulario_principal',
            formulario_descripcion: 'formulario_descripcion',
            formulario_mapa: 'formulario_mapa',
            formulario_tecnicas: 'formulario_tecnicas',
            formulario_realizacion: 'formulario_realizacion',
          };
    
          Object.values(formularios).forEach(formId => {
            const formData = new FormData(document.getElementById(formId));
            for (const [name, value] of formData.entries()) {
              form_data.append(name, value);
            }
          });
    
          fetch(`/calificaciones/editar/${id}/${codigo_barras}/`, {  // Cambiar 'id_registro' a 'id'
            method: 'POST',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: form_data
          })
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  alertMessage('success', data.message, 'Genial!');
              } else {
                  alertMessage('error', 'Hubo un error al guardar los cambios.', 'Error');
              }
              console.log({data})
          })
          .catch(error => {
              console.error('Error:', error);
          });
        }
      });
    });
    
  })


</script>

{% endblock %}
