{% extends 'templateBase.html' %}

{% block titulo %} Calificación {% endblock %}

{% block Contenido %}

<div class="card mt-3" >
  <div class="card-header text-center" style="background:#F1F7F8">
      <div class="d-flex justify-content-between">
        <div>
          <a name="" id="" class="btn btn-form" href="{% url 'consultaFormulario' %}" style="background:#B93158" role="button">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <span style="color: white;"> Regresar a Consulta </span>
              <i class='fas fa-search' style="color:white;"></i>
            </div>
          </a>
        </div>
        <div>
          <a name="" id="" class="btn btn-regresar" style="background:#b38e5d" href="{% url 'prestamos_list' %}" role="button">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <span style="color: white;">Regresar a Prestamos</span>
              <i class="fas fa-backspace" style="color:white;"></i>
            </div>
          </a>
        </div>
      </div>
  </div>
  <div class="card-body">
      <h4 class="card-title text-center">*** Formulario Calificación ***</h4>
      <div class="card-body">
        {% comment %} <h1>Formulario</h1> {% endcomment %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="background:#13322B" >
                    <div class="d-flex justify-content-center">
                      
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDatosGenerales" aria-expanded="false" aria-controls="collapseDatosGenerales">
                          <div style="display: flex; flex-direction: column; align-items: center;">
                            <span> Datos Generales </span>
                            <i class='fas fa-database'></i>
                          </div>
                        </button>
                      
    
                      <!-- Repite este patrón para otros botones -->
                      
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescripcion" aria-expanded="false" aria-controls="collapseDescripcion">
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <span> Descripción </span>
                                <i class="fa fa-audio-description"></i>
                            </div>
                        </button>
                      
                      <!-- Repite este patrón para otros botones -->
                      
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMapa" aria-expanded="false" aria-controls="collapseMapa">
                          <div style="display: flex; flex-direction: column; align-items: center;">
                              <span> Mapa </span>
                              <i class='fas fa-map'></i>
                          </div>
                        </button>
                      
                      
                      <!-- Repite este patrón para otros botones -->
                      
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTecnicas" aria-expanded="false" aria-controls="collapseTecnicas">
                          <div style="display: flex; flex-direction: column; align-items: center;">
                            <span> Técnicas </span>
                            <i class="fa-solid fa-language"></i>
                          </div>
                        </button>
                      
                        <button class="btn btn-button btn-sm active" style="background:#b38e5d" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRealizacion" aria-expanded="false" aria-controls="collapseRealizacion">
                          <div style="display: flex; flex-direction: column; align-items: center;">
                              <span> Realización </span>
                              <i class='fas fa-clipboard-list'></i>
                          </div>
                        </button>
                  </div>
                </div>
    
                <div class="collapse" id="collapseDatosGenerales">
                    <div class="card card-body ">
                        <h2> Datos Generales </h2>
                        <form enctype="multipart/form-data" method="post" id="formularioDatosGenerales">
                            {% csrf_token %}
                            <div class="row mt-4">
                              {% for field in formulario_principal %}
                              <div class="col-md-4 mb-2">
                                <div class="mb-1">
                                  {% if field.name == 'video_anoproduccion' %}
                                    <label for="{{ field.id_for_label }}" class="form-label">Año de producción</label>
                                    <input type="number"  min="1" max="9" id='ahoProduction' name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control smaller-input" placeholder="Año de producción">
                                    {{ field.errors }}
                                  {% elif field.name == 'codigo_barras' %}
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    <input type="text" id="codigo_barras" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control smaller-input" placeholder="{{ field.label }}">
                                    {{ field.errors }}
                                  {% else %}
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {% if field.name == 'fecha_calificacion' %}
                                      <input type="date" name="fecha_calificacion" value="{{ fecha_calificacion_actual }}" class="form-control smaller-input" placeholder="{{ field.label }}">
                                    {{ field.errors }}
                                    {% elif field.name == 'observaciones' %}
                                      <textarea name="{{ field.name }}" class="form-control smaller-input" placeholder="{{ field.label }}" rows="3">{{ field.value|default_if_none:'' }}</textarea>
                                    {{ field.errors }}
                                      {% elif field.name == 'duracion' %}
                                      <div class="time-input-container">
                                        <input type="text" name="duracion" pattern="[0-9]{2}:[0-5][0-9]:[0-5][0-9]" class="form-control time-input" placeholder="HH:MM:SS" >
                                      </div>
                                      {{ field.errors }}
                                      {% else %}
                                      {% if field.field.widget.input_type == 'select' %}
                                        <select name="{{ field.name }}" class="form-control smaller-input">
                                          {% for choice in field.field.choices %}
                                            {% if field.value|stringformat:'s' == choice.0|stringformat:'s' %}
                                              <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                                              {{ field.errors }}
                          
                                            {% else %}
                                              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                              {{ field.errors }}
                                              {% endif %}
                                            {% endfor %}
                                        </select>
                                      {% else %}
                                        {% if field.name != 'axo_produccion' and field.field.widget.input_type != 'hidden' %}
                                          <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control smaller-input" placeholder="{{ field.label }}">
                                          {{ field.errors }}
                                        {% endif %}
                                      {% endif %}
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </div>
                            {% endfor %}
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" id="agregaPrograma" class="btn btn-editar btn-sm active text-white mt-3" style="background-color:#9D2449;"  data-bs-toggle="modal" data-bs-target="#modalIngresa"> 
                                  <i class="fa-solid fa-circle-plus" style="color:white;"></i>
                                    <span style="color: white;">Añadir Programa</span>
                                </button>
                            </div>
                          </form>
                          <div class="card-body">
                            <div class="table-responsive"> <!-- Agregar esta clase -->
                              <table class="table table-hover" id="tablePrograma">
                                <!-- ... Código de la tabla ... -->
                                <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Código de barras</th>
                                    <th>Serie</th>
                                    <th>Programa</th>
                                    <th>Subtitulo Programa</th>
                                    <th>Subtitulo Serie</th>
                                    <th>Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                 <!--lA TABLA SE LLENA DINAMICAMENTE EN EL JAVASCRIPT-->
                                </tbody>
                              </table>
                            </div> 
                          </div> 
                    </div>
                </div>
     
                <!-- Repite este patrón para otras secciones de formulario -->
                <div class="collapse" id="collapseDescripcion">
                  <div class="card card-body">
                      <h2> Descripción </h2>
                      <form enctype="multipart/form-data" method="post" id="formularioDescripcion">
                          {% csrf_token %}
                          <div class="row mt-4">
                              {% for campo in formulario_descripcion  %}
                              <div class="col-md-6">
                                  <div class="mb-3">
                                      <label for="" class="form-label">{{ campo.label }}</label>
                                      <input
                                          type="{{ campo.field.widget.input_type }}"
                                          class="form-control"
                                          name="{{ campo.name }}"
                                          id=""
                                          aria-describedby="helpId"
                                          placeholder="{{ campo.label }}"
                                      />
                                      {{ field.errors }}

                                  </div>
                              </div>
                              {% endfor %}
                          </div>
                      </form>
                  </div>
                </div>
              
                <!-- Repite este patrón para otras secciones de formulario -->
                <div class="collapse" id="collapseMapa" >
                  <div class="card card-body">
                      <h2> Mapa </h2>
                      <form enctype="multipart/form-data" method="post" id="formularioMapa">
                          {% csrf_token %}
                          <div class="row mt-4">
                              {% for campo in formulario_mapa  %}
                              <div class="col-md-6">
                                  <div class="mb-3">
                                      <label for="" class="form-label">{{ campo.label }}</label>
                                      <input
                                          type="{{ campo.field.widget.input_type }}"
                                          class="form-control"
                                          name="{{ campo.name }}"
                                          id=""
                                          aria-describedby="helpId"
                                          placeholder="{{ campo.label }}"
                                      />
                                  </div>
                              </div>
                              {% endfor %}
                          </div>
                      </form>
                  </div>
                </div>
              
              <!-- Repite este patrón para otras secciones de formulario -->
              <div class="collapse" id="collapseTecnicas">
                <div class="card card-body">
                    <h2> Técnicas </h2>
                    <form enctype="multipart/form-data" method="post" id="formTecnicas">
                        {% csrf_token %}
                        <div class="row mt-4">
                            {% for campo in formulario_tecnicas  %}
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">{{ campo.label }}</label>
                                    <input
                                        type="{{ campo.field.widget.input_type }}"
                                        class="form-control"
                                        name="{{ campo.name }}"
                                        id=""
                                        aria-describedby="helpId"
                                        placeholder="{{ campo.label }}"
                                    />
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
              </div>
    
              <!-- Repite este patrón para otras secciones de formulario -->
              <div class="collapse" id="collapseRealizacion">
                <div class="card card-body">
                    <h2> Realización </h2>
                    <form enctype="multipart/form-data" method="post" id="formRealizacion">
                        {% csrf_token %}
                        <div class="row mt-4">
                            {% for campo in formulario_realizacion  %}
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">{{ campo.label }}</label>
                                    <input
                                        type="{{ campo.field.widget.input_type }}"
                                        class="form-control"
                                        name="{{ campo.name }}"
                                        id=""
                                        aria-describedby="helpId"
                                        placeholder="{{ campo.label }}"
                                    />
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-center">
                          <button name="" id="revicionForm" class="btn btn-revicion btn-sm active mt-3" style="background-color:#18463b" href="#" role="button">  
                            <div style="display: flex; flex-direction: column; align-items: center;">
                              <span style="color: white;">Guardar para revisión</span>
                              <i class="fas fa-save mt-1" style="color: white;"></i>
                            </div> 
                          </button> 
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modalIngresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-center" style="background-color:#13322B;">
            <h5 class="modal-title" id="modalAgregarLabel" style="color: white;">Añadir Programa <i class="fa-brands fa-bilibili"></i></h5>
            <input id="codigoId" disabled style="color:white;"></input>
          </div>
          <div class="modal-body">
            <form id="formularioPrograma" method="post" action="{% url 'formulario' %}"  >
              {% csrf_token %}
              {% for field in modal_form %}
                {% if field.name == 'programa' or field.name == 'serie' or field.name == 'subtitulo_programa' or field.name == 'subtitulo_serie' %}
                  <div class="mb-3">
                    <!-- Asignamos un id al campo -->
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" id="{{ field.name }}" name="{{ field.name }}" class="form-control" placeholder="{{ field.label }}">
                  </div>
                {% endif %}
              {% endfor %}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="background-color:#9D2449" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-agregar" style="background-color:#13322B" id="agregarProgramaSerie" >
              <span class="text" style="color: white;">Agregar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
  </div>
</div>

<script>
  
  let programasYSeries = [];
  $("#tablePrograma").hide();
   
  const limpiarFormulario = () => {
    const formulario = document.getElementById('formularioPrograma');
    formulario.reset();
  }
  
  function eliminarFila(id) {
    const index = programasYSeries.findIndex(datos => datos.id === id);
    if (index !== -1) {
      programasYSeries.splice(index, 1); // Elimina el elemento del arreglo
      actualizarTablaPrograma(); // Actualiza la tabla con los datos actualizados
    }
  }

  const validarCampos = (programa, serie, programaSubtitulo, serieSubtitulo, codigoBarras) => {
    if (programa.trim() === '' || serie.trim() === '' || serieSubtitulo.trim() === '' || programaSubtitulo.trim() === '') {
      return false; // Alguno de los campos está vacío
    }
    return true; // Todos los campos están llenos
  }
  
  // Agrega el evento click al botón "Agregar Programa/Serie"
  document.getElementById('agregarProgramaSerie').addEventListener('click', function() {
    const programa = document.getElementById('programa').value;
    const serie = document.getElementById('serie').value;
    const programaSubtitulo = document.getElementById('subtitulo_programa').value;
    const serieSubtitulo = document.getElementById('subtitulo_serie').value;
    const codigoBarrasValor = document.getElementById('codigo_barras').value;
    $('#codigoId').val(`Código - ${codigoBarrasValor}`).prop('disabled', true);

      if(codigoBarrasValor.length>12){
        messageAlerta('info','El código de barras, no puede tener más de 12 digitos,\n favor de revisar los datos ingresados.','¡Oops!', '#18463b')
      }

      if (!validarCampos(programa, serie, programaSubtitulo, serieSubtitulo, codigoBarrasValor)) {
        messageAlerta('info', 'Completa los campos solicitados para agregar un programa.', '¡Oops!', '#18463b');
        return;
      }
      else if (codigoBarrasValor.trim() === '') {
        messageAlerta('info', 'No ingresaste un Código de Barras.', '¡Oops!', '#18463b');
        return;
      }
  
      // Agregar los datos a la lista de programas y series
      programasYSeries.push({
        id: programasYSeries.length + 1,
        programa: programa,
        serie: serie,
        programaSubtitulo: programaSubtitulo,
        serieSubtitulo: serieSubtitulo,
        codigoBarras: codigoBarrasValor,
      });

      actualizarTablaPrograma();
      limpiarFormulario();
  });
  
  const actualizarTablaPrograma = () => {
    const tableBody = document.getElementById('tablePrograma').getElementsByTagName('tbody')[0];
    tableBody.innerHTML = ''; // Limpia el contenido actual de la tabla
    $("#tablePrograma").show();
  
    // Itera a través de los datos almacenados en programasYSeries
    programasYSeries.forEach(function(datos, index) {
      const newRow = tableBody.insertRow();
      const cellId = newRow.insertCell(0);
      const cellCodigoBarras = newRow.insertCell(1);
      const cellSerie = newRow.insertCell(2);
      const cellPrograma = newRow.insertCell(3);
      const cellSub_Programa = newRow.insertCell(4);
      const cellSub_Serie = newRow.insertCell(5);
      const cellAcciones = newRow.insertCell(6);
  
      cellId.innerHTML = datos.id;
      cellCodigoBarras.innerHTML = datos.codigoBarras;
      cellSerie.innerHTML = datos.serie;
      cellPrograma.innerHTML = datos.programa;
      cellSub_Programa.innerHTML = datos.programaSubtitulo;
      cellSub_Serie.innerHTML = datos.serieSubtitulo;
      cellAcciones.innerHTML = `
        <button class="btn btn-añadir btn-sm text-white" style="background-color:#9D2449;" title="Eliminar" data-id="${datos.id}" onclick="eliminarFila(${datos.id})">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <i class="fa-sharp fa-solid fa-trash"></i>
          </div>
        </button>`;
    });
  }

const formularioDatosGenerales = document.getElementById('formularioDatosGenerales');
const formularioDescripcion = document.getElementById('formularioDescripcion');
const formularioMapa = document.getElementById('formularioMapa');
const formTecnicas = document.getElementById('formTecnicas');
const formRealizacion = document.getElementById('formRealizacion');


$("#revicionForm").click(function(event) {
  event.preventDefault(); // Evitar el envío de formulario por defecto

  
  // Verificar si los campos requeridos en cada formulario están llenos
  if (!verificarCamposRequeridos(formularioDatosGenerales) ||
      !verificarCamposRequeridos(formularioDescripcion) ||
      !verificarCamposRequeridos(formularioMapa) ||
      !verificarCamposRequeridos(formTecnicas) ||
      !verificarCamposRequeridos(formRealizacion)) {
    // Mostrar mensaje de alerta si algún formulario está incompleto
    messageAlerta('info', 'Completa todos los campos requeridos antes de guardar.', '¡Oops!', '#18463b');
    return;
  }

  Swal.fire({
    title: '¿Deseas enviar este formulario a revisión?',
    text: 'No podrás revertir esta acción.',
    icon: 'info',
    showCancelButton: true,
    confirmButtonColor: '#13322B',
    cancelButtonColor: '#9D2449',
    confirmButtonText: 'Sí, continuar'
  }).then((result) => {
    if (result.isConfirmed) {
      // Obtener los datos del formulario
      let formData = $('form').serialize();

      // Crear una copia de programasYSeries omitiendo el campo "id"
      const programasYSeriesSinId = programasYSeries.map(item => {
        const { id, ...rest } = item;
        return rest;
      });

      // Agregar los datos de programasYSeries a formData
      formData += '&programasYSeries=' + JSON.stringify(programasYSeriesSinId);

      // Realizar la petición AJAX para guardar los datos
      $.ajax({
        url: '{% url "formulario" %}',
        type: 'POST',
        data: formData,
        success: function(response) {
          //console.log(response);
          Swal.fire(
            'Registrado',
            'Su formulario ha sido registrado y se encuentra en calificación.',
            'success'
          ).then(() => {
            location.reload(); // Realizar un reload de la página después del OK
          });
        },
        error: function(xhr, ajaxOptions, thrownError) {
          // Manejar el error de la petición AJAX si es necesario
          messageAlerta('error', 'Hubo un error, comuníquese con el área de Innovación.', '¡Oops!', '#18463b');
          console.log(xhr.status);
          console.log(thrownError);
        }
      });
    }
  });
});

// Función para verificar si los campos requeridos en un formulario están llenos
function verificarCamposRequeridos(formulario) {
  let camposCompletos = true;
  $(formulario).find('input[type="text"], input[type="date"], input[type="number"], input[type="checkbox"], select').each(function() {
    const valor = $(this).val().trim();
    if (valor === '') {
      camposCompletos = false;
      return false; // Detener el bucle si se encuentra un campo vacío
    }
  });
  return camposCompletos;
}



</script>

{% endblock %}
