{% extends 'templateBase.html' %}

{% block titulo %} Calificación {% endblock %}

{% block Contenido %}

    <div class="card mt-3">
        
        <div class="card-header text-center"  style="background-color:rgb(234, 240, 241)" >
            <strong> Técnicas </strong>
            <div class="d-flex justify-content-end">
                <a name="" id="" class="btn btn-primary justify-content-end" href="{% url 'prestamos_list' %}" role="button">
                  <div style="display: flex; flex-direction: column; align-items: center;">
                      <span>Regresar a Prestamos</span>
                      <i class="fas fa-backspace"></i>
                  </div>
              </a>
            </div>
        </div>

        <div class="card-body">
            <h4 class="card-title">*** Técnicas ***</h4>

            {% include 'calificacionForm/formulario.html' %}
        
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>

{% endblock %}
