#datatable th {
  background-color: #18463b; /* Color de fondo de las celdas de encabezado */
  color: white; /* añadido para cambiar el color de las letras */
  }
  #datatable td {
    white-space:inherit;
  }
  
  #tablePrograma th {
  background-color: #18463b; /* Color de fondo de las celdas de encabezado */
  color: white; /* añadido para cambiar el color de las letras */
  }
  #tablePrograma td {
    white-space:inherit;
  }
  
  #editTablePrograma th {
  background-color: #18463b; /* Color de fondo de las celdas de encabezado */
  color: white; /* añadido para cambiar el color de las letras */
  }
  #editTablePrograma td {
    white-space:inherit;
  }
  

  
  /* Estilos para centrar el título */
  .centered-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; /* Para quitar el espacio inferior */
  }

/* estilos.css */

/* Cambia el color del texto e icono del botón al pasar el mouse */
.btn-button:hover {
  background-color: #9D2449; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para el color del texto e icono del botón */
.btn-button span,
.btn-button i {
  color: #ffffff; /* Color del texto e icono */
}
