#datatable th {
  background-color: #18463b; /* Color de fondo de las celdas de encabezado */
  color: white; /* añadido para cambiar el color de las letras */
  }
  
  #datatable td {
    white-space:inherit;
  }

#muestraData th {
  background-color: #18463b; /* Color de fondo de las celdas de encabezado */
  color: white; /* añadido para cambiar el color de las letras */
  }

  #muestraData td {
    white-space:inherit;
  }
  
#tableMaestroCintas th {
  background-color: #1d5248; /* Color de fondo de las celdas de encabezado */
  color: rgb(255, 246, 246); /* añadido para cambiar el color de las letras */
}

#tableMaestroCintas td {
    white-space:inherit;
}
  
#datatablePrestamos th {
  background-color: #18463b; /* Color de fondo de las celdas de encabezado */
  color: white; /* añadido para cambiar el color de las letras */
  }
  #datatablePrestamos td {
    white-space:inherit;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .dataTable {
    padding: 0;

  }

  td {
    padding: 0;
    border: none;
  }

  .estatus-alert {
    margin: 2;
    padding: 10px;
  }


  th, td {
    border-right: 1px solid #dddddd;
  }
  
  #tablePrograma th {
  background-color: #18463b; /* Color de fondo de las celdas de encabezado */
  color: white; /* añadido para cambiar el color de las letras */
  }

  #tablePrograma td {
    white-space:inherit;
  }
  
  #editTablePrograma th {
  background-color: #18463b; /* Color de fondo de las celdas de encabezado */
  color: white; /* añadido para cambiar el color de las letras */
  }

  #editTablePrograma td {
    white-space:inherit;
  }

/* Estilos para centrar el título */
.centered-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; /* Para quitar el espacio inferior */
}

.input-error {
  border-color: red; /* Cambia el borde del campo a rojo cuando está vacío */
  background-color: #ffcccc; /* Cambia el fondo del campo a un color claro cuando está vacío */
}


/* Cambia el color del texto e icono del botón al pasar el mouse */
.btn-button:hover {
  background-color: #9D2449; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para el color del texto e icono del botón */
.btn-button span,
.btn-button i {
  color: #ffffff; /* Color del texto e icono */
}

/* Estilo para los enlaces del header */
.navbar a {
  color: #ffffff; /* Cambia el color de los enlaces a blanco */
  text-decoration: none; /* Quita el subrayado por defecto */
  margin: 10px; /* Espaciado entre los enlaces */
}

/* Estilo para el icono de búsqueda */
.navbar a i.fas.fa-search {
  font-size: 20px; /* Tamaño del icono */
  margin-right: 5px; /* Espacio a la derecha del icono */
}

/* Estilo para los enlaces del menú de Gobierno y Trámites */
.navbar a span {
  color: #ffffff; /* Cambia el color del texto a blanco */
}
/* Inputs form validate */

/* Estilo para resaltar campos vacíos */
.input-error {
  background-color: #FFCCCC; /* Cambia el color de fondo a rojo */
}


 
