#datatable th {
background-color: #18463b; /* Color de fondo de las celdas de encabezado */
color: white; /* añadido para cambiar el color de las letras */
}
#datatable td {
  white-space:inherit;
}

  .navbar-nav .nav-item .nav-link:hover {
    background-color: #9D2449; /* Cambia el color de fondo al pasar el mouse */
    color: #AF52D8; 
  }
  

  