 <table class="table table-bordered" id="bajasList">
    <thead>
      <tr>
      <th>Código de Barras</th>
       
        <th>Fecha de Devolución</th>
        <th>Usuario Recibe</th>
        <th>Usuario Devuelve</th>
        <th>Estatus</th>        
      </tr>
    </thead>
    <tbody>

   
{% for detalle in detalles %}
                  <tr>
                    <td>{{ detalle.vide_clave.vide_codigo}}</td>
                   
                    <td>{{ detalle.pres_fecha_devolucion}}</td>
                    <td>{{ detalle.usuario_recibe }}</td>
                    <td>{{ detalle.usuario_devuelve }}</td>
                    <td>{{ detalle.depr_estatus}}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            <br />
            <br />
          {% else %}
            <h3>No hay programas registrados en esta cinta</h3>
          {% endif %}
          
    </div>
</div>
{% endblock %}