{% extends '__basePrestamos.html' %}

{% block content %}
<div class="card">
  <nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
      <a type="button" class="btn btn-default btn-sm" id="buttonOut" data-toggle="modal" data-target="#modalOut">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span>Prestamo con Código de Barras</span>
          <i class="fa fa-barcode" style="font-size:18px;color:black"></i>
        </div>
      </a>

      <a type = "button" class="btn btn-danger btn-sm"  id="buttonIn" {{'url'}} data-toggle="modal" data-target="#modalIn">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span>Devolución con Código de Barras</span>
          <i class="fa fa-barcode" style="font-size:18px;color:black"></i>
        </div>
      </a>
      
      <button id = "btn-generar-pdf" class="btn btn-primary btn-sm"  type = "button">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span>Descargar PDF</span>
          <i class="fas fa-file-pdf" style="font-size:18px;"></i>
        </div>
      </button>

    </form>
  </nav>
</div>

<br>
<form id="search-form">
  <label for="exampleFormControlInput1" class="form-label"> Barcode </label>
  <input type="number" min="0" max="9" required=""  class="form-control" placeholder="search  ..." id="busqueda" style="max-width: 300px;">
</form>
<br>



<table class="table table-bordered " id="TablePrestamo">
  <thead>
    <tr>
      <th>Acciones</th>
      <th>Folio Prestamo</th>
      <th>Usuario</th>
      <th>Fecha-Hora-Prestamo</th>
      <th>Devolución</th>
      <th>Estatus</th>
    </tr>
  </thead>
  <tbody>
    {% for data in prestamos   %} 
      <tr>
          <td></td>
          <td>{{ data.pres_folio }} </td>
          <td>{{ data.usua_clave }} </td>
          <td>{{ data.pres_fechahora }} </td>
          <td>{{ data.pres_fecha_devolucion }}</td>
          <td>{{ data.pres_estatus }}</td>
      </tr>
      {% empty %}
    {% endfor %}
  </tbody> 
</table>
{% comment %} Modal Listar Cintas {% endcomment %}

<div class="modal fade" id="modalCintas">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title mb-3">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span>Lista de Cintas</span>
          <i class="fa-sharp fa-solid fa-photo-film"></i>
        </div>
      </h4>
      <input type="text" id="inputDetalles" disabled>
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 500px;">
      <div class="modal-body" id="muestraData" >
        <table class="table table-bordered" id="muestraDataTable" name="DataTable">
          <thead>
            <tr>
             {% comment %} Esta tabla se pinta en el jquery {% endcomment %}
            </tr>
          </thead>
          <tbody>
         {% comment %} Aquí no va nada, todo lo puse en mi javascript {% endcomment %}
          </tbody> 
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"><i class="fa fa-reply-all"></i> Salir </button>
        <button type="button" class="btn btn-primary" id="btn-descargar-pdf"><i class="fas fa-file-pdf" ></i>Descargar PDF</button>
      </div>
    </div>
  </div>
  </div>
</div>
  
{% comment %}  {% endcomment %}
<div class="modal fade"  id="modalIn">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ingresar Devolución por Código de Barras</h4>
          </div>
          <div class="modal-body">
             <div id="inputUsuario">
            <input style="font-weight: bold; font-size: 10; text-align: center; height: 50px;"  type="text" placeholder="Gafete de Usuario que devuelve" id="searchUsuarioIn" minlength="7" maxlength="15" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
            </div>
            <div id="inputVideo">
                 <input style="font-weight: bold; font-size: 10; text-align: center; height: 50px;"  type="text" placeholder="Ingrese con el Lector código de barras" id="searchBarCodeIn" minlength="7" maxlength="15" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger"  id="cleanTableReturn">Limpiar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalReturn">Cerrar</button>
              <button type="button" class="btn btn-primary" id="endReturn">Finalizar Entrega</button> 

            <table id="resultTableIn" class="modal-footer">
            </table>
          </div>
          <div class="form-group">
              <div class="alert alert-success" id="ins_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="ins_error" style="display:none">

              </div>
          </div>  
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade"  id="modalOut">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Prestamo por Código de Barras</h4>
          </div>
          <div class="modal-body">
            <div id="buscarUsuario">
            <input style="font-weight: bold; font-size: 10; text-align: center; height: 50px;"  type="text" placeholder="Usuario" id="searchUsuarioOut" minlength="7" maxlength="15" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
            </div>
            <div id="buscarCodigo">
              <input style="font-weight: bold; font-size: 10; text-align: center; height: 50px;"  type="text" placeholder="Ingrese con el Lector código de barras" id="searchBarCodeOut" minlength="7" maxlength="15" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger"id="cleanTableOut">Limpiar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalOut">Cerrar</button>
              <button type="button" class="btn btn-primary" id="continuarPrestamo">Continuar</button> 

            <table id="resultTableOut" class="modal-footer">
            </table>
          </div>
          <div class="form-group">
              <div class="alert alert-success" id="out_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="out_error" style="display:none">

              </div>
          </div>  
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<script>

//PDF para los folios
$(document).ready(function() {
  $('#btn-generar-pdf').on('click', function() {
    const vide_codigo = $('#busqueda').val();
    if (vide_codigo === '') {
      alertMessage('warning', 'Debes ingresar un código de barras para generar el PDF.', 'Oops!', 'swal-wide');
      return; 
    }

    $.ajax({
      url: '{% url "prestamos_filter" %}',
      data: {'q': vide_codigo},
      dataType: 'json',
      success: function(res) {
        if (res.length === 0) {
          alertMessage('warning', 'El código de barras ingresado no existe.', 'Oops!', 'swal-wide');
          return;
        }

        $.ajax({
          url: '{% url "generar_pdf" %}',
          data: {'q': vide_codigo},
          success: function() {
            window.open('{% url "generar_pdf" %}?q=' + vide_codigo);
          }
        });
      }
    });
  });
});
   
{% comment %} const {len} = require('../../static/js/LengujeDatatable'); // replace filename with the actual name of your file {% endcomment %}

$(document).ready(function() {
  $('#TablePrestamo').DataTable({
    searching: false,
    ...len,
    columns: [ 
    {
        "data": "pres_folio",
        "render": function(data, type, row, meta) {
          return "<a class= 'ver-detalle' id='verDetalle' data-toggle='modal' data-target='#modalCintas'><i class='fa-sharp fa-solid fa-circle-plus'  style='color:#9D2449'></i></a> "   
        }
      },
      {"data": "pres_folio"},
      {"data": "usua_clave"},
      {"data": "pres_fechahora"},
      {"data": "pres_fecha_devolucion"},
      {"data": "pres_estatus"},
      ],
      createdRow: function(row, data, dataIndex) {
        $(row).data('folio', data.pres_folio);
      }
      
    
  });

  const tablaOriginal = $('#TablePrestamo').DataTable().data().toArray();

  $('#busqueda').on('keyup', function() {
    const vide_codigo = $(this).val();
    if(vide_codigo == ''){
      // Mostrar la tabla original si el input está vacío
      $('#TablePrestamo').DataTable().clear().rows.add(tablaOriginal).draw();
    }else{
      $.ajax({
        url: '{% url "prestamos_filter" %}',
        data: {'q': vide_codigo},
        dataType: 'json',
        success: function(res) {
          const prestamos = res;
          // Actualizar los datos de la tabla existente
          $('#TablePrestamo').DataTable().clear().rows.add(prestamos).draw();
        }
      });
    }
  });
});

$('#TablePrestamo').on('click', '.ver-detalle', function() {
  const detalles = $(this).data('detalles');
  const pres_folio = $(this).closest('tr').data('folio');
  // Asignamos el valor de pres_folio al input
  $('#inputDetalles').val(`No. de Folio - ${pres_folio}`).prop('disabled', true);
  
  $.ajax({
    url: '{% url "prestamos_detalles" %}',
    type: 'GET',
    data: { 
      q: pres_folio
    },
    success: function(data) {
      $('#btn-descargar-pdf').on('click', function() {
        $.ajax({
          url: '{% url "generar_pdf_modal" %}',
          data: {'q': pres_folio},
          success: function() {
            window.open('{% url "generar_pdf_modal" %}?q=' + pres_folio);
          }
        });
      });
      let tabla = $('<table>');
      let thead = $('<thead>').append('<tr><th>Código de barras</th><th>Fecha devolución</th></tr>');
      let tbody = $('<tbody>');
      //Operación ternaria donde hago la validación, si hay o no más cintas
    
      if($('li', data).length === 0){
        alertMessage('info','Solo hay esa cinta!','Oops!')   
        $("#modalCintas").modal('hide');     
      }
      $('li', data).each(function(index) {
        let liText  = $(this).text().trim();
        let liParts = liText.split(' - '); 
        let codigo  = liParts[0];
        let fecha   = liParts[1];
        let row = $('<tr>').append('<td>' + codigo + '</td><td>' + fecha +'</td>');
        tbody.append(row);
      });
      tabla.append(thead).append(tbody);
      $('#muestraData').html(tabla);
      tabla.DataTable(); 
    }
  })
})

$('#searchBarCodeIn').keyup(function(e){
    if( e.keyCode == 13 ){
        readCodeBar();
    }
});

$('#searchBarCodeOut').keyup(function(e){
    if( e.keyCode == 13 ){
        addItemOut();
    }
});

$('#searchFolio').keyup(function(e){
    clearTimeout($.data(this, 'timer'));
    if($("#searchFolio").val()==""){
        $("#RowsSearch").hide();
        $("#RowsInicio").show();
        $("#Pages").show();
    }
    else {
        $(this).data('timer', setTimeout(search, 500));
    }
});

$("#buttonIn").click(function(){
  setTimeout(function() { $('#searchBarCodeIn').val("").focus() }, 1000);
  
});

$("#buttonOut").click(function(){
  console.log(":S");
  setTimeout(function() { $('#searchBarCodeOut').val("").focus() }, 1000);
});

function cleanTableReturn(){
  $("#resultTableIn tr").remove(); 
}

$("#cleanTableReturn").click(function(){
   cleanTableReturn(); 
});
$("#closeModalReturn").click(function(){
   cleanTableReturn(); 
});

function cleanTableOut(){
  $("#resultTableOut tr").remove(); 
}

$("#cleanTableOut").click(function(){
   cleanTableOut(); 
});

$("#closeModalOut").click(function(){
   cleanTableOut(); 
});

$("#continuarPrestamo").click(function(){
  usuario =  $('#searchUsuarioOut').val();
  if (usuario == ""){
     alert("Ingrese un valor para el usuario");
      $('#searchUsuarioOut').focus();  
  }
  else{
      console.log(get_data('#resultTableOut tbody tr'));
         $.ajax({
            data: {'usuario': usuario, 'codigos' : JSON.stringify(get_data('#resultTableOut tbody tr'))},
            url: "{% url 'registro_salida_videoteca' %}",
            type: 'POST'
            })
              .done(function(response){
                if(response['error']==true){
                  $('#resultTableIn').append('<tr class="alert alert-danger"><td>Código: '+ codigoBarras+'</td><td>  Resultado: '+response['errorMessage']+'</td></tr>');
                }
                else{
                    $('#resultTableIn').append('<tr class="alert alert-success"><td>Código:  '+ codigoBarras+'</td><td>  Resultado: '+response['errorMessage']+'</td></tr>');
                }
                $('#searchBarCodeIn').val("").focus()
                })
                .fail(function(){
                  $('#alertWarning').show('slow');
                  $("#alertWarning").text("Hubo un error al procesar el registro, intente nuevamente");
                  setTimeout(function(){ 
                  cleanForm();
                  location.reload();
                  }, 1000);      
                })
    }     
  });

$("#endReturn").click(function(){
  usuario =  $('#searchUsuarioIn').val();
  if (usuario == ""){
     alert("Ingrese un valor para el usuario");
      $('#searchUsuarioIn').focus();  
  }
  else{
      console.log(get_data('#resultTableIn tbody tr'));
         $.ajax({
            data: {'usuario': usuario, 'codigos' : JSON.stringify(get_data('#resultTableIn tbody tr'))},
            url: "{% url 'registro_entrada_videoteca' %}",
            type: 'POST'
            })
              .done(function(response){
                if(response['error']==true){
                  $('#resultTableIn').append('<tr class="alert alert-danger"><td>Código: '+ codigoBarras+'</td><td>  Resultado: '+response['errorMessage']+'</td></tr>');
                }
                else{
                    $('#resultTableIn').append('<tr class="alert alert-success"><td>Código:  '+ codigoBarras+'</td><td>  Resultado: '+response['errorMessage']+'</td></tr>');
                }
                $('#searchBarCodeIn').val("").focus()
                })
                .fail(function(){
                  $('#alertWarning').show('slow');
                  $("#alertWarning").text("Hubo un error al procesar el registro, intente nuevamente");
                  setTimeout(function(){ 
                  cleanForm();
                  location.reload();
                  }, 3000);      
                })
    }     
  });

$(document).on("click",".glyphicon-plus",function(){
            var this_html=$(this);
            var id=this_html.parent().parent().parent().children().first().text();
            console.log(id);
            $.ajax({
                url:"{% url 'registro_entrada_videoteca' %}",
                type:'POST',
                data:{grupo:$("#idGrupo").val(), alumno: id, diplomado:$("#idDiplomado").val()}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#ins_error").hide();
                    $("#ins_success").text(response['errorMessage']);
                    $("#ins_success").show();
                    $("#noData").hide();
                    var html_data="<tr><td style='display:none'>"+response['id']+"</td><td>"+response["alumno_matricula"]+"</td><td><a href=/alumno/edit/"+ response['id_alumno']+"?redirect_page=>" + response["alumno_nombres"]+" </a></td> ";
                      for (var i = 0; i < response["length"]; i++) {
                          html_data += "<td> 0,0 </td><td>0,0</td>";
                      }
                    
                    html_data +="<td> <button class='btn btn-default btn-xs' type='button'><span class='glyphicon glyphicon-list-alt' aria-hidden='true'></span> Consulta </button> </td> <td>  <button class='btn btn-default btn-xs' type='button'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button> Eliminar del Grupo </td></tr>";
                    $("#tablaPrincipal tbody").append(html_data);
                }
                else{
                    console.log(":( ");
                    $("#ins_success").hide();
                    $("#ins_error").text(response['errorMessage']);
                    $("#ins_error").show();
                }
            })
            .fail(function(){
                 $("#ins_success").hide();
                 $("#ins_error").text("Something Went Wrong!");
                 $("#ins_error").show();
            })
            .always(function(){
                $(".btn-insert-data").removeAttr("disabled");
                $(".btn-insert-data").text("INSERT STUDENT");
            })
        
    });




function readCodeBar(){
  codigoBarras= $('#searchBarCodeIn').val();
  console.log(codigoBarras);
  usuario =  $('#searchUsuarioIn').val();
  if (usuario == ""){
     alert("Ingrese el Gafete del usuario");
      $('#searchUsuarioIn').focus();  
  }
  else{
    $.ajax({
    data: {'codigoBarras': codigoBarras, 'matricula' : usuario},
    url: "{% url 'registro_entrada_videoteca' %}",
    type: 'POST'
    })
      .done(function(response){
        if(response['error']==true){
              $('#resultTableIn').prepend('<tr class="alert alert-danger"><td style="display:none" > <input type="text" class="codbarrasError" value="'+codigoBarras + '"></input></td><td>Código: '+ codigoBarras+'</td><td>  Resultado: '+response['errorMessage']+'</td></tr>');
            }
            else{
                $('#resultTableIn').prepend('<tr class="alert alert-success"><td style="display:none"> <input type="text" class="codbarras" value="'+codigoBarras + '"></input></td><td>Código:  '+ codigoBarras+'</td><td>  Resultado: '+response['errorMessage']+'</td></tr>');
            }
            $('#searchBarCodeIn').val("").focus()
        })
        .fail(function(){
          $('#ins_error').show('slow');
          $("#ins_error").text("Hubo un error al procesar el registro, intente nuevamente");
          setTimeout(function(){  $('#ins_error').hide(); }, 1000);      
        })
  }
}

function addItemOut(){
  codigoBarras= $('#searchBarCodeOut').val();
   $.ajax({
  data: {'codigoBarras': codigoBarras, 'funcion' : 'registerIn'},
  url: "{% url 'validacion_salida_videoteca' %}",
  type: 'POST'
  })
    .done(function(response){
      if(f_valida_repetido(codigoBarras)== 1){
          $("#out_error").text("Registro duplicado");
          $("#out_error").show();
          setTimeout(function() {  $("#out_error").hide() }, 1000);
          $('#searchBarCodeOut').val("").focus()
      }
      else{
          if(response['error']==true){
            $('#resultTableOut').prepend('<tr class="alert alert-danger"><td style="display:none" > <input type="text" class="codbarrasError" value="'+codigoBarras + '"></input></td><td>Código: '+ codigoBarras+'</td><td>  Resultado: '+response['errorMessage']+'</td>  <td><button class="btn btn-default btn-xs eliminar" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar  </button></td></tr>');
          }
          else{
              $('#resultTableOut').prepend('<tr class="alert alert-success"><td style="display:none"> <input type="text" class="codbarras" value="'+codigoBarras + '"></input></td>  <td>Código:  '+ codigoBarras+'</td><td>  Resultado: '+response['errorMessage']+'</td>  <td><button class="btn btn-default btn-xs eliminar" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar  </button></td></tr>');
          }
          $('#searchBarCodeOut').val("").focus()
      }  
      })
      .fail(function(){
        $('#out_error').show('slow');
        $("#out_error").text("Hubo un error al procesar el registro, intente nuevamente");
        setTimeout(function(){ $("#out_error").hide() }, 1000);      
      })

}

function f_valida_repetido(codigoBarras){
  var v_valor = 0;
  if ($('#resultTableOut tbody tr').length > 0){
   
      $('#resultTableOut tbody tr').each(function(){
                if ($(this).find('input.codbarras').val() == codigoBarras){
                    {% comment %} alert('valor repetido'); {% endcomment %}
                    Swal.fire({
                      icon: 'info',
                      title: 'Oops...', 
                      text: 'Valor repetido!',
                      
                    })
                   v_valor = 1;
                }
            });
        }           
      return v_valor;      
    }
function get_data(table){
  var data = [];
  //'#resultTableOut tbody tr'
  if ($(table).length > 0){
   
      $(table).each(function(){
                data.push($(this).find('input.codbarras').val());
              });
        }           
      return data;      
}  



document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('input[type=text]').forEach( node => node.addEventListener('keypress', e => {
        
      }))
    });
   
     

function search(force) {
  var existingString = $("#searchFolio").val();
    if (!force && existingString.length < 3) return; 
  $.ajax({
      type:'GET',
      data:{q:$("#searchFolio").val()}
            })
    .done(function(response){
      $("#RowsSearch").show();
      $("#RowsInicio").hide();
      $("#Pages").hide();
      $("#RowsSearch").empty();
      $("#RowsSearch").append(response);
      console.log(response)
      })
    .fail(function(){
      $("#RowsSearch").hide();
      $("#RowsInicio").show();
      $("#Pages").show();
      })  

}                

$(document).on("click",".eliminar",function(){
            var this_html=$(this);
            var id =this_html.parent().parent().children().eq(0).text();
            console.log(this_html.parent().parent().children().eq(0).text());
            this_html.parent().parent().remove();
           /* var opcion = confirm("Se va a dar eliminar la Compensacion registrada al empleado: "+ empleado +". ¿Es correcto?");
            if (opcion == true) {
            }*/
           
        });    


</script>
<style>
  .detalle ul{
    display:none;
  }
</style>
{% endblock %}