{% extends '__basePrestamos.html' %}

{% block content %}
<div class="card">
  <nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
      <a type="button" class="btn btn-default btn-sm" id="buttonOut" data-toggle="modal" data-target="#modalOut">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span>Préstamo con Código de Barras</span>
          <i class="fa fa-barcode" style="font-size:18px;color:black"></i>
        </div>
      </a>

      <a type = "button" class="btn btn-danger btn-sm"  id="buttonIn" {{'url'}} data-toggle="modal" data-target="#modalIn">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span>Devolución con Código de Barras</span>
          <i class="fa fa-barcode" style="font-size:18px;color:black"></i>
        </div>
      </a>
      
      <button id = "btn-generar-pdf" class="btn btn-primary btn-sm"  type = "button">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span>Exportar Tabla PDF</span>
          <i class="fas fa-file-pdf" style="font-size:18px;"></i>
        </div>
      </button>

    </form>
  </nav>
</div>

<div class="search-container" style="display: flex; justify-content: flex-end;">
  {% comment %} <a type = "button" class="pdf-icon"><i class="fas fa-file-pdf"></i></a> {% endcomment %}
  <input type="number" min="0" max="9" required="" class="form-control ms-auto search-input" placeholder="Buscar....." id="busqueda">
</div>

<table  class="table table-striped" id="TablePrestamo">
  <thead>
    <tr>
      <th>Detalles</th>
      <th>Folio Préstamo</th>
      <th>Usuario</th>
      <th>Fecha-Hora-Préstamo</th>
      <th>Devolución</th>
      <th>Estatus</th>
    </tr>
  </thead>
  <tbody>
    {% for data in prestamos   %} 
      <tr>
          <td></td>
          <td>{{ data.pres_folio }} </td>
          <td>{{ data.usua_clave }} </td>
          <td>{{ data.pres_fechahora }} </td>
          <td>{{ data.pres_fecha_devolucion }}</td>
          <td>{{ data.pres_estatus }}</td>
      </tr>
      {% empty %}
    {% endfor %}
  </tbody> 
</table>
{% comment %} Modal Listar Cintas {% endcomment %}

<div class="modal fade" id="modalCintas">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title mb-3">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <span>Lista de Cintas</span>
            <i class="fa-sharp fa-solid fa-photo-film"></i>
          </div>
        </h4>
        <input type="text" id="inputDetalles" disabled>
    </div>
    <div class="modal-body" style="overflow-y: auto; max-height: 500px;">
      <div class="modal-body" id="muestraData" >
        <table class="table table-bordered" id="muestraDataTable" name="DataTable">
          <thead>
            <tr>
             {% comment %} Esta tabla se pinta en el jquery {% endcomment %}
            </tr>
          </thead>
          <tbody>
            {% comment %} Aquí no va nada, todo lo puse en mi javascript {% endcomment %}
          </tbody> 
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm active" data-dismiss="modal" id="closeModal"><i class="fa fa-reply-all"></i> Salir </button>
        <button type="button" class="btn btn-primary btn-sm active" id="btn-descargar-pdf"><i class="fas fa-file-pdf" ></i> Exportar a PDF</button>
      </div>
    </div>
  </div>
  </div>
</div>
  
{% comment %}  {% endcomment %}
<div class="modal fade"  id="modalIn">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ingresar Devolución por Código de Barras</h4>
          </div>
          <div class="modal-body">
             <div id="inputUsuario">
            <input style="font-weight: bold; font-size: 10; text-align: center; height: 50px;"  type="text" placeholder="Gafete de Usuario que devuelve" id="searchUsuarioIn" minlength="7" maxlength="15" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
            </div>
            <div id="inputVideo">
                 <input style="font-weight: bold; font-size: 10; text-align: center; height: 50px;"  type="text" placeholder="Ingrese con el Lector código de barras" id="searchBarCodeIn" minlength="7" maxlength="15" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-sm active"  id="cleanTableReturn">
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <span>Limpiar</span>
                  <i class="fas fa-eraser"></i>
                </div>
              </button>

              <button type="button" class="btn btn-default btn-sm active" data-dismiss="modal" id="closeModalReturn">
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <span>Cerrar</span>
                  <i class="fa fa-reply-all"></i>
                </div>
              </button>

              <button type="button" class="btn btn-primary btn-sm active" id="endReturn">
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <span>Finalizar Entrega</span>
                  <i class='fas fa-hand-holding'></i>
                </div>
              </button>
              {% comment %} <button type="button" class="btn btn-primary" id="endReturn">Finalizar Entrega <i class="fa-sharp fa-regular fa-hand-holding-box"></i></button>  {% endcomment %}

            <table id="resultTableIn" class="modal-footer">
            </table>
          </div>
          <div class="form-group">
              <div class="alert alert-success" id="ins_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="ins_error" style="display:none">

              </div>
          </div>  
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade"  id="modalOut">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Préstamo por Código de Barras</h4>
          </div>
          <div class="modal-body">
            <div id="buscarUsuario">
            <input style="font-weight: bold; font-size: 10; text-align: center; height: 50px;"  type="text" placeholder="Usuario" id="searchUsuarioOut" minlength="7" maxlength="15" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
            </div>
            <div id="buscarCodigo">
              <input style="font-weight: bold; font-size: 10; text-align: center; height: 50px;"  type="text" placeholder="Ingrese con el Lector código de barras" id="searchBarCodeOut" minlength="7" maxlength="15" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm active" data-dismiss="modal" id="closeModalOut"> 
              <div style="display: flex; flex-direction: column; align-items: center;">
                <span>Salir</span>
                <i class="fa fa-reply-all"></i>  
              </div>
            </button>

            <button type="button" class="btn btn-danger btn-sm active"  id="cleanTableOut">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <span>Limpiar</span>
                <i class='fas fa-eraser'></i> 
              </div>
            </button>
            
            <button type="button" class="btn btn-primary btn-sm active" id="continuarPrestamo">  
              <div style="display: flex; flex-direction: column; align-items: center;">
                <span>Continuar</span>
                <i class='fas fa-arrow-circle-right'></i>
              </div>
            </button> 
            
            <table id="resultTableOut" class="modal-footer">
            </table>
          </div>
          <div class="form-group">
              <div class="alert alert-success" id="out_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="out_error" style="display:none">

              </div>
          </div>  
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<script>

//PDF para los folios
$(document).ready(function() {
  $('#btn-generar-pdf').on('click', function() {
    const busquedaVal = $('#busqueda').val();
    const vide_codigo = busquedaVal;
    const pres_folio = busquedaVal; 

    if (busquedaVal === '') {
      alertMessage('warning', 'Debes ingresar un código de barras o un número de folio para generar el PDF.', 'Oops!', 'swal-wide');
      return; 
    }

    $.ajax({
      url: '{% url "prestamos_filter" %}',
      data: {'q': vide_codigo, 'pres_folio': pres_folio}, // Agrega pres_folio en los datos a enviar
      dataType: 'json',
      success: function(res) {
        if (res.length === 0) {
          alertMessage('warning', 'El código de barras o número de folio ingresado no existe.', 'Oops!', 'swal-wide');
          return;
        }

        $.ajax({
          url: '{% url "generar_pdf" %}',
          data: {'q': vide_codigo, 'pres_folio': pres_folio}, // Agrega pres_folio en los datos a enviar
          success: function() {
            window.open('{% url "generar_pdf" %}?q=' + vide_codigo + '&pres_folio=' + pres_folio); // Agrega pres_folio en la URL
          }
        });
      }
    });
  });
});
   
$(document).ready(function() {
  $('#TablePrestamo').DataTable({
    searching: false,
    ...len,
    columns: [ 
    {
        "data": "pres_folio",
        "render": function(data, type, row, meta) {
          return "<a class= 'ver-detalle' id='verDetalle' data-toggle='modal' data-target='#modalCintas'><i class='fa-sharp fa-solid fa-circle-plus'  style='color:#9D2449'></i></a>"   
        }
      },
      {"data": "pres_folio"},
      {"data": "usua_clave"},
      {"data": "pres_fechahora"},
      {"data": "pres_fecha_devolucion"},
      {"data": "pres_estatus"},
      //{},
      ],
      createdRow: function(row, data, dataIndex) {
        $(row).data('folio', data.pres_folio);
      }
  });

  const tablaOriginal = $('#TablePrestamo').DataTable().data().toArray();
  const tablaOriginal2 = $('#TablePrestamo').DataTable().data().toArray();
  
  $('#busqueda').on('keyup', function() {
    const valorInput = $(this).val();
    const vide_codigo = valorInput;
    const pres_folio = valorInput;
  
    if (vide_codigo == '' && pres_folio == '') {
      // Mostrar la tabla original si ambos inputs están vacíos
      $('#TablePrestamo').DataTable().clear().rows.add(tablaOriginal).draw();
      $('#TablePrestamo').DataTable().clear().rows.add(tablaOriginal2).draw();
    } else {
      $.ajax({
        url: '{% url "prestamos_filter" %}',
        data: {'q': vide_codigo},
        dataType: 'json',
        success: function(res) {
          const prestamos = res;
          // Filtrar los resultados por pres_folio único
          const prestamosUnicos = [];
          const foliosVistos = new Set();
          for (let i = 0; i < prestamos.length; i++) {
            const prestamo = prestamos[i];
            if (!foliosVistos.has(prestamo.pres_folio)) {
              prestamosUnicos.push(prestamo);
              foliosVistos.add(prestamo.pres_folio);
            }
          }
          // Actualizar los datos de la tabla existente con los resultados filtrados
          $('#TablePrestamo').DataTable().clear().rows.add(prestamosUnicos).draw();
        }
      });
    }
  });
  
});

$('#TablePrestamo').on('click', '.ver-detalle', function() {
  const detalles = $(this).data('detalles');
  const pres_folio = $(this).closest('tr').data('folio');
  // Asignamos el valor de pres_folio al input
  $('#inputDetalles').val(`No. de Folio - ${pres_folio}`).prop('disabled', true);
  
  $.ajax({
    url: '{% url "prestamos_detalles" %}',
    type: 'GET',
    data: { 
      q: pres_folio
    },
    success: function(data) {
      $('#btn-descargar-pdf').on('click', function() {
        $.ajax({
          url: '{% url "generar_pdf_modal" %}',
          data: {'q': pres_folio},
          success: function() {
            window.open('{% url "generar_pdf_modal" %}?q=' + pres_folio);
          }
        });
      });
      let tabla = $('<table>');
      let thead = $('<thead>').append('<tr><th>Código de barras</th><th>Fecha devolución</th></tr>');
      let tbody = $('<tbody>');
    
      if($('li', data).length == 0){
        //$("#modalCintas").modal('hide');     
        alertMessage('info','Solo hay esa cinta!','Oops!')   
        $("#modalCintas").modal('hide');
      }
      $('li', data).each(function(index) {
        let liText  = $(this).text().trim();
        let liParts = liText.split(' - '); 
        let codigo  = liParts[0];
        let fecha   = liParts[1];
        let row = $('<tr>').append('<td>' + codigo + '</td><td>' + fecha +'</td>');
        tbody.append(row);
      });
      tabla.append(thead).append(tbody);
      $('#muestraData').html(tabla);
      tabla.DataTable({
        ...len
      }); 
    }
  })
})

//$('#searchBarCodeIn').keyup(function(e){
//    if( e.keyCode == 13 ){
//        readCodeBar();
//    }
//});

$('#searchBarCodeOut').keyup(function(e){
    if( e.keyCode == 13 ){
        addItemOut();
    }
});

$('#searchFolio').keyup(function(e){
    clearTimeout($.data(this, 'timer'));
    if($("#searchFolio").val()==""){
        $("#RowsSearch").hide();
        $("#RowsInicio").show();
        $("#Pages").show();
    }
    else {
        $(this).data('timer', setTimeout(search, 500));
    }
});

$("#buttonIn").click(function(){
  setTimeout(function() { $('#searchBarCodeIn').val("").focus() }, 1000);
  
});

$("#buttonOut").click(function(){
 
  setTimeout(function() { $('#searchBarCodeOut').val("").focus() }, 1000);
});

function cleanTableReturn(){
  $("#resultTableIn tr").remove(); 
}

$("#cleanTableReturn").click(function(){
   cleanTableReturn(); 
});
$("#closeModalReturn").click(function(){
   cleanTableReturn(); 
});

function cleanTableOut(){
  $("#resultTableOut tr").remove(); 
}

$("#cleanTableOut").click(function(){
   cleanTableOut(); 
});

$("#closeModalOut").click(function(){
   cleanTableOut(); 
});


$("#continuarPrestamo").hide();

$("#continuarPrestamo").click(function() {
  let usuario = $('#searchUsuarioOut').val();
  let codigoBarras = $('#searchBarCodeOut').val();
  let $button = $(this); // Guardamos una referencia al botón actual

  Swal.fire({
    title: '¿Estás seguro de que quieres continuar?',
    text: "¡No podrás revertir esto!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sí, continuar'
  }).then((result) => {
    if (result.isConfirmed) {
      guardarRegistro(usuario, codigoBarras);
      $button.hide(); // Oculta el botón utilizando la referencia guardada
    }
  });
});

function guardarRegistro(usuario, codigoBarras) {
  $.ajax({
    data: {'usuario': usuario, 'codigos': JSON.stringify(get_data('#resultTableOut tbody tr'))},
    url: "{% url 'registro_salida_videoteca' %}",
    type: 'POST',
    success: function(data) {
      // Verificar si existe el error
      if (data.error) {
        $('#resultTableIn').append('<tr class="alert alert-danger"><td>Código: ' + codigoBarras + '</td><td>  Resultado: ' + data.errorMessage + '</td></tr>');
      } else {
        $('#resultTableIn').append('<tr class="alert alert-success"><td>Código: ' + codigoBarras + '</td><td>  Resultado: ' + data.errorMessage + '</td></tr>');
      }
      $('#searchBarCodeIn').val("").focus();

      const muestraFolio = data.Folio;

      if (muestraFolio !== undefined) {
        $.ajax({
          url: '{% url "generate_pdf_resgister_folio" %}',
          data: {'q': muestraFolio},
          success: function() {
            window.open('{% url "generate_pdf_resgister_folio" %}?q=' + muestraFolio);
          }
        });
      }

      Swal.fire(
        '¡Exportado!',
        `Su archivo ha sido exportado con el folio ${muestraFolio}.`,
        'success'
      );
    },
    error: function() {
      $('#alertWarning').show('slow');
      $("#alertWarning").text("Hubo un error al procesar el registro, intente nuevamente");
      setTimeout(function() { 
        location.reload();
      }, 1000);
    }
  });
}


//Boton de entrega

$("#endReturn").click(function() {
  let usuario = $('#searchUsuarioIn').val();
  let codigoBarras = $('#searchBarCodeIn').val();
  let $button = $(this);



  if (usuario === "") {
    alert("Ingrese un valor para el usuario");
    $('#searchUsuarioIn').focus();
    } else {
      $.ajax({
        data: {
          'usuario': usuario,
          'codigos': JSON.stringify(get_data('#resultTableIn tbody tr'))
        },
        url: "{% url 'finalizar_entrada_videoteca' %}",
        type: 'POST',
        success: function(data) {
          if (data.error) {
            $('#resultTableIn').append('<tr class="alert alert-danger"><td>Código: ' + codigoBarras + '</td><td>  Resultado: ' + data.errorMessage + '</td></tr>');
          } else {
            window.open('{% url "get_pdf" %}?q=' + data.file); // Agrega pres_folio en la URL
          }
          $('#searchBarCodeIn').val("").focus();
        },
        error: function() {
          $('#alertWarning').show('slow');
          $("#alertWarning").text("Hubo un error al procesar el registro, intente nuevamente");
          setTimeout(function() {
            cleanForm();
            location.reload();
          }, 3000);
        }
      });
    }
    

});


$(document).on("click",".glyphicon-plus",function(){
            var this_html=$(this);
            var id=this_html.parent().parent().parent().children().first().text();
           // console.log(id);
            $.ajax({
                url:"{% url 'registro_entrada_videoteca' %}",
                type:'POST',
                data:{grupo:$("#idGrupo").val(), alumno: id, diplomado:$("#idDiplomado").val()}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#ins_error").hide();
                    $("#ins_success").text(response['errorMessage']);
                    $("#ins_success").show();
                    $("#noData").hide();
                    var html_data="<tr><td style='display:none'>"+response['id']+"</td><td>"+response["alumno_matricula"]+"</td><td><a href=/alumno/edit/"+ response['id_alumno']+"?redirect_page=>" + response["alumno_nombres"]+" </a></td> ";
                      for (var i = 0; i < response["length"]; i++) {
                          html_data += "<td> 0,0 </td><td>0,0</td>";
                      }
                    
                    html_data +="<td> <button class='btn btn-default btn-xs' type='button'><span class='glyphicon glyphicon-list-alt' aria-hidden='true'></span> Consulta </button> </td> <td>  <button class='btn btn-default btn-xs' type='button'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button> Eliminar del Grupo </td></tr>";
                    $("#tablaPrincipal tbody").append(html_data);
                }
                else{
                    //console.log(":( ");
                    $("#ins_success").hide();
                    $("#ins_error").text(response['errorMessage']);
                    $("#ins_error").show();
                }
            })
            .fail(function(){
                 $("#ins_success").hide();
                 $("#ins_error").text("Something Went Wrong!");
                 $("#ins_error").show();
            })
            .always(function(){
                $(".btn-insert-data").removeAttr("disabled");
                $(".btn-insert-data").text("INSERT STUDENT");
            })
        
    });

function readCodeBar() {
  let codigoBarras = $('#searchBarCodeIn').val();
  let usuario = $('#searchUsuarioIn').val();

  if( codigoBarras === ''){
    alertMessage('info','Debes ingrsar un código de barras.','Hey!');
    }else if( usuario === ''){
    alertMessage('info','Ingresa un gafete de usuario.','Hey!')
    
  } else {
    $.ajax({
      data: {'codigoBarras': codigoBarras, 'matricula': usuario},
      url: "{% url 'registro_entrada_videoteca' %}",
      type: 'POST'
    })
    .done(function(response) {
      if (response.error) {
        $('#resultTableIn').prepend('<tr class="alert alert-danger"><td style="display:none"><input type="text" class="codbarrasError" value="'+codigoBarras+'"></input></td><td>Código: '+codigoBarras+'</td><td>Resultado: '+response.errorMessage+'</td></tr>');
      } else {
        $('#resultTableIn').prepend('<tr class="alert alert-success"><td style="display:none"><input type="text" class="codbarras" value="'+codigoBarras+'"></input></td><td>Código: '+codigoBarras+'</td><td>Resultado: '+response.errorMessage+'</td></tr>');
      }
      $('#searchBarCodeIn').val("").focus();
      
    })
    .fail(function() {
      $('#ins_error').show('slow');
      alertMessage('error','Error al procesar, porfavor intente nuevamente!','Error 404')
      $("#ins_error").text("Hubo un error al procesar el registro, intente nuevamente");
      setTimeout(function() { $('#ins_error').hide(); }, 1000);      
    });
  }
}
    

    $(document).ready(function() {
      $('#searchBarCodeIn').keypress(function(event) {
        if (event.which === 13) { // Verifica si se presionó la tecla "Enter"
          readCodeBar(); // Llama a la función para leer el código de barras
        }
      });
    });


//Validación de prestamos
function addItemOut() {

  const codigoBarras = $('#searchBarCodeOut').val();
  const usuario = $('#searchUsuarioOut').val();

  if( codigoBarras === ''){
    alertMessage('info','Debes ingrsar un código de barras.','Hey!')
  }else if( usuario === ''){
    alertMessage('info','Debes ingrsar un usuario.','Het!')
  }

  $.ajax({
    data: {
      'usuario': usuario,
      'codigoBarras': codigoBarras,
      'funcion': 'registerIn'
    },
    url: "{% url 'validacion_salida_videoteca' %}",
    type: 'POST'
  })
  .done(function(response) {
    if (f_valida_repetido(codigoBarras) == 1) {
      $("#out_error").text("Registro duplicado");
      $("#out_error").show();
      setTimeout(function() {  
        $("#out_error").hide();
      }, 1000);
      $('#searchBarCodeOut').val("").focus();
    } else {
      if (response.error) {
        $('#resultTableOut').prepend('<tr class="alert alert-danger"><td style="display:none"><input type="text" class="codbarrasError" value="' + codigoBarras + '"></input></td><td>Código: ' + codigoBarras + '</td><td>  Resultado: ' + response.errorMessage + '</td><td><button class="btn btn-default btn-xs eliminar" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar</button></td></tr>');
      } else {
        $('#resultTableOut').prepend('<tr class="alert alert-success"><td style="display:none"><input type="text" class="codbarras" value="' + codigoBarras + '"></input></td><td>Código: ' + codigoBarras + '</td><td>  Resultado: ' + response.errorMessage + '</td><td><button class="btn btn-default btn-xs eliminar" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar</button></td></tr>');
        $("#continuarPrestamo").show();  // show
      }
      $('#searchBarCodeOut').val("").focus();
    }
  })//success
  .fail(function() {
    $('#out_error').show('slow');
    $("#out_error").text("Hubo un error al procesar el registro, intente nuevamente");
    setTimeout(function() { 
      $("#out_error").hide();
    }, 1000);
  });
}
//Acaba validacion




function f_valida_repetido(codigoBarras){
  var v_valor = 0;
  if ($('#resultTableOut tbody tr').length > 0){
   
      $('#resultTableOut tbody tr').each(function(){
        if ($(this).find('input.codbarras').val() == codigoBarras) {
          alertMessage('info', 'Ya se a registrado este código..', 'Oops!');
          v_valor = 1;
        }
      });
  }           
      return v_valor;      
}
function get_data(table){
  var data = [];
  //'#resultTableOut tbody tr'
  if ($(table).length > 0){
   
      $(table).each(function(){
                data.push($(this).find('input.codbarras').val());
              });
        }           
      return data;      
}  



document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('input[type=text]').forEach( node => node.addEventListener('keypress', e => {
        
      }))
    });
   
     

function search(force) {
  var existingString = $("#searchFolio").val();
    if (!force && existingString.length < 3) return; 
  $.ajax({
      type:'GET',
      data:{q:$("#searchFolio").val()}
            })
    .done(function(response){
      $("#RowsSearch").show();
      $("#RowsInicio").hide();
      $("#Pages").hide();
      $("#RowsSearch").empty();
      $("#RowsSearch").append(response);
      //console.log(response)
      })
    .fail(function(){
      $("#RowsSearch").hide();
      $("#RowsInicio").show();
      $("#Pages").show();
      })  

}                

$(document).on("click",".eliminar",function(){
            var this_html=$(this);
            var id =this_html.parent().parent().children().eq(0).text();
            //console.log(this_html.parent().parent().children().eq(0).text());
            this_html.parent().parent().remove();
           /* var opcion = confirm("Se va a dar eliminar la Compensacion registrada al empleado: "+ empleado +". ¿Es correcto?");
            if (opcion == true) {
            }*/
           
        });    


</script>
<style>
  .detalle ul{
    display:none;
  }
</style>
{% endblock %}