{% extends "__base.html" %}

{% block breadcrumb %}
                <li><a href="https://www.gob.mx/sep"><i class="icon icon-home"></i></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/inventario">Inventario</a></li>
                <li class="active">Eliminar programa</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Delete programa #{{object.video_cbarras}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Está seguro que desea eliminar el programa #<strong>{{ object }}</strong> ?
            </div>
            <a class="btn btn-default" href="/inventario">Cancelar</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
<br /><br />
{% endblock %}