{% extends "__base.html" %}

{% block breadcrumb %}
                <li><a href="https://www.gob.mx/sep"><i class="icon icon-home"></i></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/inventario">Inventario</a></li>
                <li class="active">Actualizar cinta</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Cinta No. {{cinta.video_cbarras}}</h2>
        <hr class="red">
    </div>
    <div class="card-body">
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <input class="form-control" type="hidden" name="video_id" value="118703" id="id_video_id" required>
            <div class="form-group">
                {{ form.video_cbarras.errors }}
                <label class="col-sm-3 control-label" for="{{ form.video_cbarras.id_for_label }}">Código de barras:</label>
                <div class="col-sm-9">
                    {{ form.video_cbarras }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_form_clave">Formato:</label>
                <div class="col-sm-9">
                    {{ form.form_clave }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_codificacion">Formato de la cinta:</label>
                <div class="col-sm-9">
                    {{ form.video_codificacion }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_tipo">Tipo de video:</label>
                <div class="col-sm-9">
                    {{ form.video_tipo }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_fingreso">Fecha ingreso:</label>
                <div class="col-sm-9">
                    <div class="datepicker-group">
                        <input class="form-control" name="video_fingreso" id="id_video_fingreso" value="{{ form.video_fingreso.value|date:'Y-m-d' }}" type="text">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_inventario">Inventario:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_inventario" value="{{ form.video_inventario.value|default_if_none:'' }}" maxlength="4" id="id_video_inventario">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_estatus">Estatus de la cinta:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_estatus" value="{{ form.video_status.value|default_if_none:'' }}" maxlength="20" id="id_video_estatus">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_rack">Rack:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_rack" value="{{ form.video_rack.value|default_if_none:'' }}" maxlength="4" id="id_video_rack">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_nivel">Nivel:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_nivel" value="{{ form.video_nivel.value|default_if_none:'' }}" maxlength="4" id="id_video_nivel">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_anoproduccion">Año de producción:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="number" name="video_anoproduccion" value="{{ form.video_anoproduccion.value|default_if_none:'' }}" id="id_video_anoproduccion">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_idproductor">Id de productor:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="number" name="video_idproductor" value="0" id="id_video_idproductor">
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_productor">Productor:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_productor" value="{{ form.video_productor.value|default_if_none:'' }}" maxlength="100" id="id_video_productor">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_idcoordinador">Id de coordinador:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="number" name="video_idcoordinador" value="0" id="id_video_idcoordinador">
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_coordinador">Coordinador:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_coordinador" value="{{ form.video_coordinador.value|default_if_none:'' }}" maxlength="80" id="id_video_coordinador">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_usmov">Usmov:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="number" name="video_usmov" value="0" id="id_video_usmov">
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_observaciones">Observaciones:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_observaciones" value="{{ form.video_observaciones.value|default_if_none:'' }}" maxlength="300" id="id_video_observaciones">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_usua_clave">Clave:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="usua_clave" value="{{ form.usua_clave.value|default_if_none:'' }}" maxlength="12" id="id_usua_clave">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_fchcal">Fecha de calificación:</label>
                <div class="col-sm-9">
                    <div class="datepicker-group">
                        <input class="form-control" name="video_fchcal" value="{{ form.video_fchcal.value|date:'Y-m-d' }}" id="id_video_fchcal" type="text">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_target">Target:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_target" value="{{ form.video_target.value|default_if_none:'' }}" maxlength="45" id="id_video_target">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_tipo_id">Tipo de Serie:</label>
                <div class="col-sm-9">
                    {{ form.tipo_id }}<!--
                    <select class="form-control" name="tipo_id" required id="id_tipo_id">
                        <option value="" selected>---------</option>
                        <option value="0">No especifica</option>
                        <option value="1">Unitario</option>
                        <option value="2">Cápsula</option>            
                        <option value="3">Película</option>
                        <option value="4">Documental</option>
                        <option value="5">Promo</option>
                        <option value="6">Serie Curricula</option>
                        <option value="7">Serie Cultural</option>
                        <option value="8">Noticiero</option>
                    </select>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_origen_id">Origen de serie:</label>
                <div class="col-sm-9">
                    <select class="form-control" name="origen_id" required id="id_origen_id">
                        <option value="" selected>---------</option>
                        <option value="0">No Especifica</option>
                        <option value="1">Coproducción</option>
                        <option value="2">Producción Interna</option>
                        <option value="3">Producción de otras Instituciones</option>
                        <option value="4">Producción Adquirida</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_fechamov">&Uacute;ltimo movimiento:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="video_fechamov" value="{{ form.video_fechamov.value|date:'Y-m-d P' }}" id="id_video_fechamov" readonly>
                </div>
            </div>

            <div class="clearfix">
                <div class="pull-right">
                    <a class="btn btn-default" href="/inventario/cintas/{{cinta.video_cbarras}}">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a class="btn btn-danger" href="/inventario/cintas/{{cinta.video_cbarras}}/eliminar">Eliminar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br /><br />
{% endblock %}
