{% extends "__base.html" %}

{% block breadcrumb %}
                <li><a href="https://www.gob.mx/sep"><i class="icon icon-home"></i></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/inventario">Inventario</a></li>
                <li class="active">Registrar</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Registrar cinta</h2>
        <hr class="red">
    </div>
    <div class="card-body">
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            
            {{ form.non_field_errors }}
            {{ form.video_id }}
            <div class="form-group">
                <label class="col-sm-3 control-label" for="{{ form.video_cbarras.id_for_label }}">Código de barras:</label>
                <div class="col-sm-9">
                    {{ form.video_cbarras }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_form_clave">Formato:</label>
                <div class="col-sm-9">
                    {{ form.form_clave }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_codificacion">Formato de la cinta:</label>
                <div class="col-sm-9">
                    {{ form.video_codificacion }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_tipo">Tipo de video:</label>
                <div class="col-sm-9">
                    {{ form.video_tipo }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_fingreso">Fecha ingreso:</label>
                <div class="col-sm-9">
                    <div class="datepicker-group">
                        {{ form.video_fingreso }}
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_inventario">Inventario:</label>
                <div class="col-sm-9">
                    {{ form.video_inventario }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_estatus">Estatus de la cinta:</label>
                <div class="col-sm-9">
                    {{ form.video_estatus }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_rack">Rack:</label>
                <div class="col-sm-9">
                    {{ form.video_rack }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_nivel">Nivel:</label>
                <div class="col-sm-9">
                    {{ form.video_nivel }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_anoproduccion">Año de producción:</label>
                <div class="col-sm-9">
                    {{ form.video_anoproduccion }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_productor">Productor:</label>
                <div class="col-sm-9">
                    {{ form.video_productor }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_coordinador">Coordinador:</label>
                <div class="col-sm-9">
                    {{ form.video_coordinador }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_observaciones">Observaciones:</label>
                <div class="col-sm-9">
                    {{ form.video_observaciones }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_usua_clave">Clave:</label>
                <div class="col-sm-9">
                    {{ form.usua_clave }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_fchcal">Fecha de calificación:</label>
                <div class="col-sm-9">
                    <div class="datepicker-group">
                        {{ form.video_fchcal }}
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_video_target">Target:</label>
                <div class="col-sm-9">
                    {{ form.video_target }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_tipo_id">Tipo de Serie:</label>
                <div class="col-sm-9">
                    {{ form.tipo_id }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_origen_id">Origen de serie:</label>
                <div class="col-sm-9">
                    {{ form.origen_id }}
                </div>
            </div>

            <div class="clearfix">
                <div class="pull-right">
                    <button class="btn btn-default active" type="reset">Limpiar</button>
                    <button class="btn btn-primary active" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br /><br />
{% endblock %}