{% extends "__base.html" %}

{% block breadcrumb %}
                <li><a href="https://www.gob.mx/sep"><i class="icon icon-home"></i></a></li>
                <li><a href="/">Inicio</a></li>
                <li class="active">Inventario</li>
{% endblock %}

{% block content %}
            <p style="text-align: right;">
              <a class="btn btn-danger btn-sm active" href="/inventario/cintas/registrar">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>Agregar cinta</span>
              </a>
            </p>
            <div class="bottom-buffer" style="margin-bottom: 15px;">
              <form role="form" class="clearfix">
                <div class="row">
                  <div class="col-md-2">
                    <!--<div class="form-group">
                      <label for="cbarras">C&oacute;digo de barras<span class="form-text"></span>:</label>-->
                      <input type="text" id="q" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Código de barras">
                    <!--</div>-->
                  </div>
                  <div class="col-md-2">
                    <!--<div class="form-group">
                      <label for="formato">Formato<span class="form-text"></span>:</label>
                      <input type="text" id="formato" class="form-control" placeholder="Formato">
                    </div>-->
                    <select class="form-control" id="formato" name="formato">
                      <option value="">-- Formato --</option>
                      {% for formato in formatos_list %}
                        {% if formato_filter == formato.form_clave %}
                          <option value="{{ formato.form_clave }}" selected="selected">{{ formato.form_descripcion }}</option>
                        {% else %}
                          <option value="{{ formato.form_clave }}">{{ formato.form_descripcion }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-2">
                    <!--<div class="form-group">
                      <label for="tipoCinta">Tipo de video<span class="form-text"></span>:</label>
                      <input type="text" id="tipoCinta" class="form-control" placeholder="Tipo">
                    </div>-->
                    <select class="form-control" name="tipo">
                      <option value="">-- Tipo --</option>
                      {% for tipo in tipo_list %}
                        {% if tipo_filter == tipo.id_status %}
                          <option value="{{ tipo.id_status }}" selected="selected">{{ tipo.status }}</option>
                        {% else %}
                          <option value="{{ tipo.id_status }}">{{ tipo.status }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-2">
                    <!--<div class="form-group">
                      <label for="status">Estatus<span class="form-text"></span>:</label>
                      <input type="text" id="status" class="form-control" placeholder="Estatus">
                    </div>-->

                    {% comment %} <i class="fa-solid fa-magnifying-glass"></i> {% endcomment %}

                    <select class="form-control" name="status">
                      <option value="">-- Estatus --</option>
                      <option value="1" {%if status_filter == '1' %} selected="selected"{%endif%}>En Videoteca</option>
                      <option value="2" {%if status_filter == '2' %} selected="selected"{%endif%}>En Calificacion</option>
                      <option value="3" {%if status_filter == '3' %} selected="selected"{%endif%}>Cinta Extraviada</option>
                      <option value="4" {%if status_filter == '4' %} selected="selected"{%endif%}>Baja por Daño</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <!--<div class="form-group">
                      <label for="secondName">A&ntilde;o inventario<span class="form-text"></span>:</label>-->
                      <input type="number" name="anio" class="form-control" placeholder="Año ingreso" value="{{anio_filter}}">
                    <!--</div>-->
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-sm active" type="submit">
                      <span>Buscar </span>
                    </button>
                    <a class="btn btn-default btn-sm active" href="/inventario">
                      <span>Limpiar</span>
                    </a>
                  </div>
                </div>
              </form>
            </div>

            <table class="table table-bordered" id="tableInventario" name="tableInventario">
              <thead>
                <tr>
                  <th>Código de barras</th>
                  <th>Formato de la cinta</th>
                  <th>Tipo de video</th>
                  <th>Estatus</th>
                  <th>Fecha ingreso</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              {% if mcintas_list %}
              <tbody>
                {% for cinta in mcintas_list %}
                <tr>
                  <td><a href="/inventario/cintas/{{cinta.video_cbarras}}/">{{ cinta.video_cbarras }}</a></td>
                  <td>{{ cinta.video_codificacion }}</td>
                  <td>{{ cinta.video_tipo|default:"" }}</td>
                  <td>{{ cinta.video_estatus|default:"" }}</td>
                  <td>{{ cinta.video_fingreso|default_if_none:"" }}</td>
                  <td>
                    <a class = "btn btn-danger btn-sm active" href="cintas/{{cinta.video_cbarras}}/editar"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                    <span> | </span>
                    <a class = "btn btn-primary btn-sm active" href="cintas/{{cinta.video_cbarras}}/eliminar"><i class="fa-sharp fa-solid fa-trash"></i> Eliminar </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <!--<tfoot>
                <tr>
                  <td colspan="5">
                    <span style="visibility:hidden">Material videograbado: 162920 registros.</span>
                  </td>
                </tr>
              </tfoot>-->
              {% else %}
              <tbody>
                <tr>
                  <td colspan="5">No hay material videograbado registrado con estas características.</td>
                </tr>
              </tbody>
              {% endif %}
            </table>

            <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script>

$(document).ready(function() {
  $('#tableInventario').DataTable({
    searching: false,
    ...len,
  });
});
  
</script>

            {% comment %} {% if is_paginated %}
              {% include "__pagination.html" %}
            {% endif %} {% endcomment %}
{% endblock %}
