{% extends "__base.html" %}

{% block breadcrumb %}
                <li><a href="https://www.gob.mx/sep"><i class="icon icon-home"></i></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/inventario">Inventario</a></li>
                <li class="active">Detalle de cinta</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
      <h2 class="card-title">Cinta No. {{cinta.video_cbarras}}</h2>
      <hr class="red">
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-4 titulo">Código de barras</dt>
        <dt class="col-sm-4 titulo">Formato de la cinta</dt>
        <dt class="col-sm-4 titulo">Año de producción</dt>
        <dd class="col-sm-4">{{ cinta.video_cbarras|default:"&nbsp;" }}</dd>
        <dd class="col-sm-4">{{ cinta.form_clave|default:"&nbsp;" }}</dd>
        <dd class="col-sm-4">{{ cinta.video_anoproduccion|default:"&nbsp;" }}</dd>
      </dl>
    </div>
    <div class="panel-group ficha-collapse" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#accordion" data-toggle="collapse" href="#panel-dg" aria-expanded="true" aria-controls="panel-dg">
            Datos generales
            </a>
          </h4>
          <button type="button" class="collpase-button collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel-dg"></button>
        </div>
        <div class="panel-collapse collapse in" id="panel-dg">
          <div class="panel-body">
              <dt class="col-sm-4 titulo">Formato de la cinta</dt>
              <dt class="col-sm-4 titulo">Tipo de video</dt>
              <dt class="col-sm-4 titulo">Origen de serie</dt>
              <dd class="col-sm-4">{{ cinta.video_codificacion|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.video_tipo|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.origen_id|default:"&nbsp;" }}</dd>

              <dt class="col-sm-4 titulo">Productor</dt>
              <dt class="col-sm-4 titulo">Coordinador</dt>
              <dt class="col-sm-4 titulo">Estatus de la cinta</dt>
              <dd class="col-sm-4">{{ cinta.video_productor|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.video_coordinador|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.video_estatus|default:"&nbsp;" }}</dd>

              <dt class="col-sm-4 titulo">Clasificación</dt>
              <dt class="col-sm-4 titulo">Tipo de Serie</dt>
              <dt class="col-sm-4 titulo">Fecha ingreso</dt>
              <dd class="col-sm-4">{{ cinta.video_target|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.tipo_id|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.video_fingreso|date:'Y-m-d' }}</dd>

              <dt class="col-sm-12 titulo">Observaciones:</dt>
              <dd class="col-sm-12">{{ cinta.video_observaciones|default:"&nbsp;" }}</dd>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group ficha-collapse" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#accordion" data-toggle="collapse" href="#panel-inv" aria-expanded="true" aria-controls="panel-inv">
            Inventario
            </a>
          </h4>
          <button type="button" class="collpase-button collapsed" data-parent="#accordion" data-toggle="collapse" href="#panel-inv"></button>
        </div>
        <div class="panel-collapse collapse in" id="panel-inv">
          <div class="panel-body">
              <dt class="col-sm-4 titulo">Rack</dt>
              <dt class="col-sm-4 titulo">Nivel</dt>
              <dt class="col-sm-4 titulo">Clave</dt>
              <dd class="col-sm-4">{{ cinta.video_rack|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.video_nivel|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.usua_clave|default:"&nbsp;" }}</dd>
              

              <dt class="col-sm-4 titulo">Fecha de movimiento</dt>
              <dt class="col-sm-4 titulo">Fecha de calificación</dt>
              <dt class="col-sm-4 titulo">usmov</dt>
              <dd class="col-sm-4">{{ cinta.video_fechamov|date:'Y-m-d P' }}</dd>
              <dd class="col-sm-4">{{ cinta.video_fchcal|default:"&nbsp;" }}</dd>
              <dd class="col-sm-4">{{ cinta.video_usmov|default:"&nbsp;" }}</dd>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
          {% if programas %}
            <br>
            <h3>Programas grabados en la cinta actual</h3>
            <hr class="red">
            <table class="table table-striped" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th>Folio</th>
                    <th>Serie</th>
                    <th>Programa</th>
                  </tr>
                </thead>
                <tbody>
                {% for programa in programas %}
                  <tr>
                    <td>
                      <a href="/inventario/programas/{{programa.vp_id}}">{{programa.video_id}}</a>
                    </td>
                    <td>{{ programa.vp_serie|default:'-' }}</td>
                    <td>{{ programa.vp_programa|default:'-' }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            <br />
            <br />
          {% else %}
            <h3>No hay programas registrados en esta cinta</h3>
          {% endif %}
          <div class="pull-right">
            <a class="btn btn-default active" href="/inventario">Regresar</a>
            <a class="btn btn-primary active" href="/inventario/cintas/{{cinta.video_cbarras}}/editar">Editar</a>
          </div>
    </div>
</div>
<br /><br /><br /><br />
{% endblock %}