{% extends "__base.html" %}

{% block breadcrumb %}
                <li><a href="https://www.gob.mx/sep"><i class="icon icon-home"></i></a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/inventario">Inventario</a></li>
                <li class="active">Eliminar cinta</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Cinta No. {{object.video_cbarras}}</h2>
        <hr class="red">
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Está seguro que desea eliminar la cinta #<strong>{{ object }}</strong> ?
            </div>
            <a class="btn btn-default active" href="/inventario">Cancelar</a>
            <button class="btn btn-danger active" type="submit">Eliminar</button>
        </form>
    </div>
</div>
<br /><br />
{% endblock %}