{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <title>Videoteca - Dirección General de Televisi&oacute;n Educativa</title>

    <!-- CSS -->
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    
    <!-- Respond.js soporte de media queries para Internet Explorer 8 -->
    <!-- ie8.js EventTarget para cada nodo en Internet Explorer 8 -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Contenido -->
    <main class="page">
        <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
                  <span class="sr-only">Interruptor de Navegación</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dirección General de Televisi&oacute;n Educativa - Videoteca</a>
              </div>
              <div class="collapse navbar-collapse" id="subenlaces">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Inventario</a></li>
                  <li><a href="#">Pr&eacute;stamo</a></li>
                  <li><a href="#">Reportes</a></li>
                </ul>
              </div>
            </div>
          </nav>

        <div class="container">
            <br /><br /><br />
            <div class="row">
              <div class="col-sm-8">
                <ol class="breadcrumb">
                  {% block breadcrumb %}
                    <li><a href="#"><i class="icon icon-home"></i></a></li>
                    <li><a href="#">Inicio</a></li>
                  {% endblock %}
                </ol>
              </div>
              <div class="col-sm-4">
                <div class="user-credencials">
                  <ul class="list-unstyled">
                    <li>
                      <span class="user-credencials__name">{% block usuario %}Roberto Gutiérrez García{% endblock %}</span>
                      <button type="button" class="btn btn-link pull-right">Salir</button>
                    </li>
                    <li>{% block rol_usuario %}Administrador{% endblock %}</li>
                  </ul>
                </div>
              </div>
            </div>
            <br /><br />
  

            {% block content %}{% endblock %}

        </div>
    </main>

    <script src="https://framework-gb.cdn.gob.mx/qa/gobmx.js"></script>
</body>
</html>