{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <title>SEP - Videoteca</title>

    <!-- CSS -->
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    
    <!-- Respond.js soporte de media queries para Internet Explorer 8 -->
    <!-- ie8.js EventTarget para cada nodo en Internet Explorer 8 -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Contenido -->
    <main class="page">
        <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
                  <span class="sr-only">Interruptor de Navegación</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SEP - Videoteca</a>
              </div>
              <div class="collapse navbar-collapse" id="subenlaces">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Enlace</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Desplegable <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Acción</a></li>
                      <li><a href="#">Otra acción</a></li>
                      <li><a href="#">Algo más aquí</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Enlace separado</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        <div class="container">
            <br /><br /><br />
            <ol class="breadcrumb">
                <li><a href="#"><i class="icon icon-home"></i></a></li>
                <li><a href="#">Inicio</a></li>
                <li class="active">Archivo</li>
            </ol>
  

            <form role="form">
                <div class="form-group">
                  <label class="control-label" for="email-01">Usuario:</label>
                  <input class="form-control" id="email-01" placeholder="Usuario" type="text">
                </div>
                <div class="form-group">
                  <label class="control-label" for="password-01">Contraseña</label>
                  <input class="form-control" id="password-01" placeholder="Contraseña" type="password">
                </div>
                <button class="btn btn-primary pull-right" type="submit">Enviar</button>
            </form>
            <br /><br /><br />

        </div>
    </main>

    <script src="https://framework-gb.cdn.gob.mx/qa/gobmx.js"></script>
</body>
</body>
</html>