{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block titulo %}Videoteca - Dirección General de Televisión Educativa{% endblock %}</title>
        <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
        <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'css/button.css' %}" rel="stylesheet">
        <link href="{% static 'css/formulario.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Dirección General de Televisi&oacute;n Educativa - Videoteca</a>
                </div>
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'prestamos_list' %}">Préstamo</a></li>
                        <li><a href="{% url 'consultaFormulario' %}">Calificación</a></li>
                        <li>
                            <a href="{% url 'logout' %}">Cerrar Sesión 
                                <i class='fas fa-power-off'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container" style="max-width: 1300px;">
            <div class="row">
                {% block Contenido %}{% endblock %}
            </div>
        </div>

        <script src="{% static 'js/alertMessage.js' %}"></script>
        <script src="{% static 'js/LengujeDatatable.js' %}"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
        <script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
        <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
        <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
    </body>
</html>