<form enctype="multipart/form-data" method="post">
  {% csrf_token %}

  {% for campo in formulario %}
    <div class="mb-3">
      <label for="" class="form-label">{{campo.label}}</label>
      <input 
      type="{{ campo.field.widget.input_type }}"
      class="form-control"
      name="{{ campo.name}}"
      id=""
      aria-describedby="helpId"
      placeholder="{{campo.label}}">
     </div>
  {% endfor %}
    
  <div class="d-flex justify-content-between">
    <div>
      <a name="" id="atrasBtn" class="btn btn-danger" href="#" role="button">
          <div style="display: flex; flex-direction: column; align-items: center;">
              <span>Atras</span>
              <i class='fas fa-hand-point-left'></i>
          </div>
      </a>

      <a name="" id="siguienteBtn" class="btn btn-success" href="#" role="button">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <span>Siguiente</span>
            <i class='fas fa-hand-point-right'></i>
        </div>
      </a>
    </div>

    <div>
        <a name="" id="" class="btn btn-primary" href="{% url 'prestamos_list' %}" role="button">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <span>Regresar a Prestamos</span>
                <i class="fas fa-backspace"></i>
            </div>
        </a>
    </div>
  </div>

</form>

<script>
 
  const siguienteBtn = document.getElementById('siguienteBtn');
  const atrasBtn = document.getElementById('atrasBtn');

  siguienteBtn.addEventListener('click', function() {
    // Redirige a la URL correspondiente a la siguiente vista
    if (window.location.href.includes('{% url "areaTitulos" %}')) {
      window.location.href = '{% url "areaDeIdentificación" %}';
    } else if (window.location.href.includes('{% url "areaDeIdentificación" %}')) {
      window.location.href = '{% url "areaMencion" %}';
    } else if (window.location.href.includes('{% url "areaMencion" %}')) {
      window.location.href = '{% url "areaContenido" %}';
    } else if (window.location.href.includes('{% url "areaContenido" %}')) {
      window.location.href = '{% url "areaVersiones" %}';
    } else if (window.location.href.includes('{% url "areaVersiones" %}')) {
      window.location.href = '{% url "areaDescripcionTecnica" %}';
    } else if (window.location.href.includes('{% url "areaDescripcionTecnica" %}')) {
      window.location.href = '{% url "areaDisponibilidad" %}';
    } else if (window.location.href.includes('{% url "areaDisponibilidad" %}')) {
      window.location.href = '{% url "areaObservaciones" %}';
    }
  });

  atrasBtn.addEventListener('click', function() {
    // Redirige a la URL correspondiente a la vista anterior
    if (window.location.href.includes('{% url "areaDeIdentificación" %}')) {
      window.location.href = '{% url "areaTitulos" %}';
    } else if (window.location.href.includes('{% url "areaMencion" %}')) {
      window.location.href = '{% url "areaDeIdentificación" %}';
    } else if (window.location.href.includes('{% url "areaContenido" %}')) {
      window.location.href = '{% url "areaMencion" %}';
    } else if (window.location.href.includes('{% url "areaVersiones" %}')) {
      window.location.href = '{% url "areaContenido" %}';
    } else if (window.location.href.includes('{% url "areaDescripcionTecnica" %}')) {
      window.location.href = '{% url "areaVersiones" %}';
    } else if (window.location.href.includes('{% url "areaDisponibilidad" %}')) {
      window.location.href = '{% url "areaDescripcionTecnica" %}';
    } else if (window.location.href.includes('{% url "areaObservaciones" %}')) {
      window.location.href = '{% url "areaDisponibilidad" %}';
    }
  });
</script>

