<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for field in formulario %}
  <div class="mb-3">
    {% if field.name == 'axo_produccion' %}
      <label for="{{ field.id_for_label }}" class="form-label">Año de producción</label>
      <input type="text" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control" placeholder="Año de producción">
    {% else %}
      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
    {% endif %}
    {{ field.errors }}
    {% if field.name == 'fecha_calificacion' %}
      <input type="date" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control" placeholder="{{ field.label }}">
    {% elif field.name == 'observaciones' %}
      <textarea name="{{ field.name }}" class="form-control" placeholder="{{ field.label }}">{{ field.value|default_if_none:'' }}</textarea>
    {% else %}
      {% if field.name != 'axo_produccion' and field.field.widget.input_type != 'hidden' %}
        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="form-control" placeholder="{{ field.label }}">
      {% endif %}
    {% endif %}
  </div>
  {% endfor %}
    
  <div class="d-flex justify-content-center">
    <div>
      <a name="" id="atrasBtn" class="btn btn-atras btn-sm active" style="background-color:#9D2449;" href="#" role="button">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <span style="color: white;">Atrás</span>
            <i class="fas fa-hand-point-left mt-1" style="color: white;"></i>
          </div>
      </a>

      <button name="" id="siguienteBtn" class="btn btn-siguiente btn-sm active" style="background-color:#b38e5d;" type="submit" role="button">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span style="color: white;">Siguiente</span>
          <i class="fas fa-hand-point-right mt-1" style="color: white;"></i>
        </div>
      </button>
      
      <button name="" id="revicionForm" class="btn btn-revicion btn-sm active" style="background-color:#18463b" href="#" role="button">  
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span style="color: white;">Guardar para revisión</span>
          <i class="fas fa-save mt-1" style="color: white;"></i> 
        </div>
      </button> 

      <button name="" id="aceptaForm" class="btn btn-acepta btn-sm active" style="background-color:#b38e5d" href="#" role="button">  
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span style="color:white;">Revisado y Aceptado</span>
          <i class="fas fa-check-circle mt-1" style="color:white;"></i>
        </div>
      </button> 
    </div>
  </div>
</form>

<script>
  // Lógica de navegación entre pestañas utilizando JavaScript
  let siguienteBtn = document.getElementById('siguienteBtn');
  let atrasBtn = document.getElementById('atrasBtn');
  let revicionForm = document.getElementById('revicionForm');
  let aceptaForm = document.getElementById('aceptaForm');

  siguienteBtn.addEventListener('click', function() {
    // Redirige a la URL correspondiente a la siguiente vista
    if (window.location.href.includes('{% url "datosGenerales" %}')) {
      window.location.href = '{% url "descripcion" %}';
    } else if (window.location.href.includes('{% url "descripcion" %}')) {
      window.location.href = '{% url "mapa" %}';
    } else if (window.location.href.includes('{% url "mapa" %}')) {
      window.location.href = '{% url "realizacion" %}';
    } else if (window.location.href.includes('{% url "realizacion" %}')) {
      window.location.href = '{% url "tecnicas" %}';
    }
  });

  atrasBtn.addEventListener('click', function() {
    // Redirige a la URL correspondiente a la vista anterior
    if (window.location.href.includes('{% url "descripcion" %}')) {
      window.location.href = '{% url "datosGenerales" %}';
    } else if (window.location.href.includes('{% url "mapa" %}')) {
      window.location.href = '{% url "descripcion" %}';
    } else if (window.location.href.includes('{% url "realizacion" %}')) {
      window.location.href = '{% url "mapa" %}';
    } else if (window.location.href.includes('{% url "tecnicas" %}')) {
      window.location.href = '{% url "realizacion" %}';
    }
  });

  // Ocultar botones según la URL actual
  if (window.location.href.includes('{% url "datosGenerales" %}')) {
    atrasBtn.style.display = 'none';  // Oculta el botón de "Atrás"
    revicionForm.style.display = 'none';  // Oculta el botón de "Guardar Formulario"
    aceptaForm.style.display = 'none';   
  } else if (window.location.href.includes('{% url "descripcion" %}')) {
    revicionForm.style.display = 'none';
    aceptaForm.style.display = 'none';
  } else if (window.location.href.includes('{% url "mapa" %}')) {
    revicionForm.style.display = 'none';
    aceptaForm.style.display = 'none';
  } else if (window.location.href.includes('{% url "realizacion" %}')) {
    revicionForm.style.display = 'none';
    aceptaForm.style.display = 'none';
  } else if (window.location.href.includes('{% url "tecnicas" %}')) {
    siguienteBtn.style.display = 'none';
  }

  //revicionForm.addEventListener('click', function(event) {
    $("#revicionForm").click(function(event) {
      event.preventDefault(); // Evitar el envío de formulario por defecto
    
      let formData = new FormData(document.querySelector('form'));
      let isEmptyForm = false;
    
      //Verifico que el formulario este vacío
      formData.forEach((value) => {
        if (value.trim() == "") {
          isEmptyForm = true;
          return;
        }
      });
    
      if (isEmptyForm) {
        Swal.fire({
          title: 'Formulario vacío',
          text: 'Por favor, completa todos los campos antes de enviar el formulario a revisión.',
          icon: 'warning',
          confirmButtonColor: '#18463b',
          confirmButtonText: 'Aceptar'
        });
        return;
      }
    
      Swal.fire({
        title: '¿Deseas enviar este formulario a revisión?',
        text: 'No podrás revertir esta acción.',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#18463b',
        cancelButtonColor: '#9D2449',
        confirmButtonText: 'Sí, continuar'
      }).then((result) => {
        if (result.isConfirmed) {
          // Realizar la petición AJAX para guardar los datos
          $.ajax({
            url: '{% url "tecnicas" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
              alertMessage('success', 'Su formulario fue registrado y se encuentra en calificación.', '¡Se ha registrado exitosamente!', '#18463b');
              atrasBtn.style.display     = 'none';  // Oculta el botón de "Atrás"
              revicionForm.style.display = 'none'; // Oculta el botón de "Guardar para revisión"
              aceptaForm.style.display   = 'none'; // Oculta el botón de "Guardar para revisión"
            },
            error: function(xhr, ajaxOptions, thrownError) {
              // Manejar el error de la petición AJAX si es necesario
              console.log(xhr.status);
              console.log(thrownError);
            }
          });
        }
      });
    });
    
  //aceptaForm.addEventListener('click', function(event) {
 //aceptaForm.addEventListener('click', function(event) {
  $("#aceptaForm").click(function(event) {
    event.preventDefault(); // Evitar el envío de formulario por defecto
  
    let formData = new FormData(document.querySelector('form'));
    let isEmptyForm = false;
  
    // Verifico que el formulario esté vacío
    formData.forEach((value) => {
      if (value.trim() == "") {
        isEmptyForm = true;
        return;
      }
    });
  
    if (isEmptyForm) {
      Swal.fire({
        title: 'Formulario vacío',
        text: 'Por favor, completa todos los campos antes de enviar el formulario a revisión.',
        icon: 'warning',
        confirmButtonColor: '#18463b',
        confirmButtonText: 'Aceptar'
      });
      return;
    }
  
    Swal.fire({
      title: '¿Aceptas los cambios de este formulario?',
      text: '¡Quedará con un estatus de aprobado y no podrás revertir esta acción!',
      icon: 'info',
      showCancelButton: true,
      confirmButtonColor: '#18463b',
      cancelButtonColor: '#9D2449',
      confirmButtonText: 'Sí, continuar'
    }).then((result) => {
      if (result.isConfirmed) {
        // 
        formData.set('estatusCalif', 'R');
        console.log(formData)
  
        // Realizar la petición AJAX para guardar los datos
        $.ajax({
          url: '{% url "tecnicas" %}',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
            alertMessage('success', 'Su formulario fue revisado y aceptado.', '¡Calificado!', '#18463b');
            atrasBtn.style.display = 'none';  // Oculta el botón de "Atrás"
            revicionForm.style.display = 'none'; // Oculta el botón de "Guardar para revisión"
            aceptaForm.style.display = 'none'; // Oculta el botón de "Guardar para revisión"
          },
          error: function(xhr, ajaxOptions, thrownError) {
            // Manejar el error de la petición AJAX si es necesario
            console.log(xhr.status);
            console.log(thrownError);
          }
        });
      }
    });
  });
  

</script>
